<!doctype html>
<html>

<!--@echo banner-->

<head>
	
	<meta charset="utf-8">
	
	<title><!--@echo title--> | v<!--@echo version--> | <!--@echo NODE_ENV--></title>
	<meta name="description" content="<!--@echo description-->">
	<meta name="keywords" content="">
	
	<meta name="viewport" content="width=device-width">
	
	<!--[if !IE]><!-->
	
	<!-- @if NODE_ENV == 'DEVELOPMENT' -->
	
	<link rel="stylesheet" href="./css/<!-- @echo name -->.css">
	<link rel="stylesheet" href="./css/development.css">
	
	<!-- @endif -->
	
	<!-- @if NODE_ENV == 'PRODUCTION' -->
	
	<link rel="stylesheet" href="//static.mhulse.com/<!-- @echo name -->/prod/<!-- @echo version -->/<!-- @echo now -->/<!-- @echo ver -->/css/<!-- @echo name -->.min.css">
	
	<!-- @endif -->
	
	<link rel="stylesheet" href="//fonts.mhulse.com/hulse/hulse.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	
	<!--<![endif]-->
	
	<!-- Use when not on mhulse.com: -->
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="//mhulse.com/apple-touch-icon-144x144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="//mhulse.com/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="//mhulse.com/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="//mhulse.com/apple-touch-icon-57x57-precomposed.png">
	<link rel="shortcut icon" href="//mhulse.com/favicon.ico">
	<meta name="msapplication-TileImage" content="//mhulse.com/apple-touch-icon-144x144-precomposed.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	
	<!-- Use photo if one exists, otherwise use this as a default: -->
	<link rel="image_src" href="//mhulse.com/apple-touch-icon-144x144-precomposed.png">
	
	<!-- Webmaster tools: -->
	<meta name="google-site-verification" content="SYMpWtYbtUSVzHAhKnQ9whZfer-bXhI7-cZE8rFI_UU">
	<meta name="msvalidate.01" content="B46559147E88568614EBEBCB2BEF258C">
	
	<link rel="canonical" href="">
	
</head>
<body ontouchstart>
	
	<header role="banner">
		
		<h1 id="flag"><a href="#">M<span>HULSE.com</span></a></h1>
		
	</header>
	
	<hr>
	
	<nav role="navigation">
		
		<ul class="x3"
			><li><a href="#">Lorem</a></li
			><li><a href="#">Ipsum</a></li
			><li><a href="#">Dolor</a></li
			><li><a href="#">Sit</a></li
			><li><a href="#">Amet</a></li
			><li><a href="#">Lorem</a></li
			><li><a class="selected" href="#">Selected</a></li
			><li><a href="#">Ipsum</a></li
			><li><a href="#">Dolor</a></li
			><li><a href="#">Sit</a></li
			><li><a href="#">Ipsum Dolor</a></li
			><li><a href="#">Amet</a></li
		></ul>
		
	</nav>
	
	<aside role="complementary">
		
		<section>
			
			<h1></h1>
			
			<form class="form" method="get" action="" role="search">
				
				<label class="x4">
					<span class="off">Search:</span>
					<input type="search" name="s" placeholder="&hellip; search &hellip;">
					<!--<button type="button">Go</button>-->
				</label>
				
			</form>
			
		</section>
		
	</aside>
	
	<hr>
	
	<main role="main">
		
		<!-- @if NODE_ENV == 'DEVELOPMENT' -->
		
		<section>
			
			<h1 id="colors" class="marker"><a href="#colors">Colors</a></h1>
			
			<div class="swatches">
				
				<div class="swatches-swatch milk"><code>$milk</code> &rsaquo; <code>#fff</code></div>
				<div class="swatches-swatch lobster"><code>$lobster</code> &rsaquo; <code>#c30</code></div>
				<div class="swatches-swatch juice"><code>$juice</code> &rsaquo; <code>#f60</code></div>
				<div class="swatches-swatch bling"><code>$bling</code> &rsaquo; <code>#ffd100</code></div>
				<div class="swatches-swatch goblin"><code>$goblin</code> &rsaquo; <code>#9ea301</code></div>
				<div class="swatches-swatch hulk"><code>$hulk</code> &rsaquo; <code>#4e801c</code></div>
				<div class="swatches-swatch smurf"><code>$smurf</code> &rsaquo; <code>#13aac9</code></div>
				<div class="swatches-swatch dusk"><code>$dusk</code> &rsaquo; <code>#1d678f</code></div>
				<div class="swatches-swatch raven"><code>$raven</code> &rsaquo; <code>#000</code></div>
				
			</div>
			
		</section>
		
		<hr>
		
		<!-- @endif -->
		
		<section>
			
			<h1 id="colors" class="marker"><a href="#sharing">Sharing</a></h1>
			
			<p>
				
				<a class="social social-twitter fa-stack fa-lg" target="_blank" href="https://twitter.com/intent/tweet?text=YOUR-TITLE&amp;url=YOUR-URL&amp;via=TWITTER-HANDLE">
					<i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
					<span class="off">Tweet this</span>
				</a>
				
				<a class="social social-facebook fa-stack fa-lg" target="_blank" href="http://www.facebook.com/sharer/sharer.php?u=YOUR-URL">
					<i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
					<span class="off">Share on Facebook</span>
				</a>
				
				<a class="social social-google-plus fa-stack fa-lg" target="_blank" href="https://plus.google.com/share?url=YOUR-URL">
					<i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
					<span class="off">Plus on Google+</span>
				</a>
				
				<a class="social social-linkedin fa-stack fa-lg" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=YOUR-URL&amp;title=YOUR-TITLE&amp;summary=YOUR-SUMMARY&amp;source=YOUR-URL">
					<i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
					<span class="off">Share on LinkedIn</span>
				</a>
				
				<!--
				<a class="social social-pinterest fa-stack fa-lg" target="_blank" href="http://pinterest.com/pin/create/button/?url=YOUR-URL&amp;description=YOUR-DESCRIPTION&amp;media=YOUR-IMAGE-SRC">
					<i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
					<span class="off">Pin on Pinterest</span>
				</a>
				-->
				
				<a class="social social-vk fa-stack fa-lg" target="_blank" href="https://vk.com/share.php?url=YOUR-URL&amp;title=YOUR-TITLE&amp;description=YOUR-DESCRIPTION&amp;image=YOUR-IMAGE-SRC&amp;noparse=true">
					<i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-vk fa-stack-1x fa-inverse"></i>
					<span class="off">Share on VK</span>
				</a>
				
				<a class="social social-xing fa-stack fa-lg" target="_blank" href="https://www.xing-share.com/app/user?op=share;sc_p=xing-share;url=YOUR-URL">
					<i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-xing fa-stack-1x fa-inverse"></i>
					<span class="off">Share on Xing</span>
				</a>
				
				<a class="social social-tumblr fa-stack fa-lg" target="_blank" href="http://www.tumblr.com/share?v=3&amp;u=YOUR-URL&amp;t=YOUR-TITLE">
					<i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
					<span class="off">Share on Tumblr</span>
				</a>
				
				<a class="social social-email fa-stack fa-lg" target="_blank" href="mailto:EMAIL_RECIPIENT?subject=EMAIL_SUBJECT&amp;body=EMAIL_BODY">
					<i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
					<span class="off">Send via e-mail</span>
				</a>
				
				<a class="social social-comment fa-stack fa-lg" href="#comments">
					<i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-comment fa-stack-1x fa-inverse"></i>
					<span class="off">Leave a comment</span>
				</a>
				
			</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="paging" class="marker"><a href="#paging">Paging</a></h1>
			
			<footer>
				
				<ul class="pager">
					<li><a href="#">Newer</a></li
					><li><a href="#">1</a></li
					><li><span class="pager-current">2</span></li
					><li><a href="#">3</a></li
					><li><a href="#">4</a></li
					><li><span>&hellip;</span></li
					><li><a href="#">271</a></li
					><li><a href="#">Older</a></li>
				</ul>
				
				<hr>
				
				<ul class="pager">
					<li><a href="#">Newer</a></li
					><li><a href="#">Older</a></li>
				</ul>
				
			</footer>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="tags" class="marker"><a href="#tags">Tags</a></h1>
			
			<ul class="cloud">
				<li><a href="#" title="3872 topics" rel="tag" style="font-size:12.6pt;">adipiscing</a></li><li
				><a href="#" title="4412 topics" rel="tag" style="font-size:13.8pt;">aliquam</a></li><li
				><a href="#" title="2201 topics" rel="tag" style="font-size:9pt;">aliquet</a></li><li
				><a href="#" title="4378 topics" rel="tag" style="font-size:13.7pt;">amet</a></li><li
				><a href="#" title="2489 topics" rel="tag" style="font-size:9.6pt;">ante</a></li><li
				><a href="#" title="8550 topics" rel="tag" style="font-size:22.7pt;">arcu</a></li><li
				><a href="#" title="7098 topics" rel="tag" style="font-size:19.6pt;">at</a></li><li
				><a href="#" title="2713 topics" rel="tag" style="font-size:10.1pt;">auctor</a></li><li
				><a href="#" title="8213 topics" rel="tag" style="font-size:22pt;">augue</a></li><li
				><a href="#" title="6057 topics" rel="tag" style="font-size:17.3pt;">bibendum</a></li><li
				><a href="#" title="2319 topics" rel="tag" style="font-size:9.3pt;">blandit</a></li><li
				><a href="#" title="9092 topics" rel="tag" style="font-size:23.9pt;">commodo</a></li><li
				><a href="#" title="3764 topics" rel="tag" style="font-size:12.4pt;">condimentum</a></li><li
				><a href="#" title="3298 topics" rel="tag" style="font-size:11.4pt;">consectetur</a></li><li
				><a href="#" title="6127 topics" rel="tag" style="font-size:17.5pt;">consequat</a></li><li
				><a href="#" title="3711 topics" rel="tag" style="font-size:12.3pt;">convallis</a></li><li
				><a href="#" title="11392 topics" rel="tag" style="font-size:28.9pt;">cras</a></li><li
				><a href="#" title="3269 topics" rel="tag" style="font-size:11.3pt;">curabitur</a></li><li
				><a href="#" title="3576 topics" rel="tag" style="font-size:12pt;">cursus</a></li><li
				><a href="#" title="3090 topics" rel="tag" style="font-size:10.9pt;">dapibus</a></li><li
				><a href="#" title="3724 topics" rel="tag" style="font-size:12.3pt;">diam</a></li><li
				><a href="#" title="5560 topics" rel="tag" style="font-size:16.3pt;">dictum</a></li><li
				><a href="#" title="2205 topics" rel="tag" style="font-size:9pt;">dignissim</a></li><li
				><a href="#" title="6692 topics" rel="tag" style="font-size:18.7pt;">dolor</a></li><li
				><a href="#" title="7530 topics" rel="tag" style="font-size:20.5pt;">donec</a></li><li
				><a href="#" title="3549 topics" rel="tag" style="font-size:11.9pt;">dui</a></li><li
				><a href="#" title="3826 topics" rel="tag" style="font-size:12.5pt;">egestas</a></li><li
				><a href="#" title="7113 topics" rel="tag" style="font-size:19.6pt;">eget</a></li><li
				><a href="#" title="7083 topics" rel="tag" style="font-size:19.6pt;">eleifend</a></li><li
				><a href="#" title="3265 topics" rel="tag" style="font-size:11.3pt;">elementum</a></li><li
				><a href="#" title="2699 topics" rel="tag" style="font-size:10.1pt;">elit</a></li><li
				><a href="#" title="4547 topics" rel="tag" style="font-size:14.1pt;">enim</a></li><li
				><a href="#" title="2419 topics" rel="tag" style="font-size:9.5pt;">eros</a></li><li
				><a href="#" title="2404 topics" rel="tag" style="font-size:9.4pt;">est</a></li><li
				><a href="#" title="2323 topics" rel="tag" style="font-size:9.3pt;">euismod</a></li><li
				><a href="#" title="3523 topics" rel="tag" style="font-size:11.9pt;">facilisis</a></li><li
				><a href="#" title="4651 topics" rel="tag" style="font-size:14.3pt;">fames</a></li><li
				><a href="#" title="5032 topics" rel="tag" style="font-size:15.1pt;">faucibus</a></li><li
				><a href="#" title="2559 topics" rel="tag" style="font-size:9.8pt;">felis</a></li><li
				><a href="#" title="2321 topics" rel="tag" style="font-size:9.3pt;">fermentum</a></li><li
				><a href="#" title="5926 topics" rel="tag" style="font-size:17.1pt;">feugiat</a></li><li
				><a href="#" title="5084 topics" rel="tag" style="font-size:15.2pt;">fringilla</a></li><li
				><a href="#" title="2857 topics" rel="tag" style="font-size:10.4pt;">fusce</a></li><li
				><a href="#" title="3256 topics" rel="tag" style="font-size:11.3pt;">hendrerit</a></li><li
				><a href="#" title="6721 topics" rel="tag" style="font-size:18.8pt;">iaculis</a></li><li
				><a href="#" title="6195 topics" rel="tag" style="font-size:17.6pt;">imperdiet</a></li><li
				><a href="#" title="2625 topics" rel="tag" style="font-size:9.9pt;">integer</a></li><li
				><a href="#" title="3179 topics" rel="tag" style="font-size:11.1pt;">interdum</a></li><li
				><a href="#" title="4318 topics" rel="tag" style="font-size:13.6pt;">ipsum</a></li><li
				><a href="#" title="7706 topics" rel="tag" style="font-size:20.9pt;">justo</a></li><li
				><a href="#" title="15615 topics" rel="tag" style="font-size:38pt;">lacinia</a></li><li
				><a href="#" title="5835 topics" rel="tag" style="font-size:16.9pt;">lacus</a></li><li
				><a href="#" title="8370 topics" rel="tag" style="font-size:22.3pt;">lectus</a></li><li
				><a href="#" title="8975 topics" rel="tag" style="font-size:23.6pt;">leo</a></li><li
				><a href="#" title="4456 topics" rel="tag" style="font-size:13.9pt;">libero</a></li><li
				><a href="#" title="3485 topics" rel="tag" style="font-size:11.8pt;">ligula</a></li><li
				><a href="#" title="7957 topics" rel="tag" style="font-size:21.4pt;">lorem</a></li><li
				><a href="#" title="3407 topics" rel="tag" style="font-size:11.6pt;">maecenas</a></li><li
				><a href="#" title="2495 topics" rel="tag" style="font-size:9.6pt;">magna</a></li><li
				><a href="#" title="8202 topics" rel="tag" style="font-size:22pt;">malesuada</a></li><li
				><a href="#" title="4739 topics" rel="tag" style="font-size:14.5pt;">massa</a></li><li
				><a href="#" title="4104 topics" rel="tag" style="font-size:13.1pt;">mattis</a></li><li
				><a href="#" title="2659 topics" rel="tag" style="font-size:10pt;">mauris</a></li><li
				><a href="#" title="10972 topics" rel="tag" style="font-size:28pt;">metus</a></li><li
				><a href="#" title="4747 topics" rel="tag" style="font-size:14.5pt;">molestie</a></li><li
				><a href="#" title="2410 topics" rel="tag" style="font-size:9.5pt;">mollis</a></li><li
				><a href="#" title="2763 topics" rel="tag" style="font-size:10.2pt;">morbi</a></li><li
				><a href="#" title="2915 topics" rel="tag" style="font-size:10.5pt;">nam</a></li><li
				><a href="#" title="4936 topics" rel="tag" style="font-size:14.9pt;">nec</a></li><li
				><a href="#" title="3919 topics" rel="tag" style="font-size:12.7pt;">nibh</a></li><li
				><a href="#" title="4068 topics" rel="tag" style="font-size:13pt;">nisi</a></li><li
				><a href="#" title="2274 topics" rel="tag" style="font-size:9.2pt;">nisl</a></li><li
				><a href="#" title="2328 topics" rel="tag" style="font-size:9.3pt;">non</a></li><li
				><a href="#" title="4059 topics" rel="tag" style="font-size:13pt;">nulla</a></li><li
				><a href="#" title="5845 topics" rel="tag" style="font-size:16.9pt;">nullam</a></li><li
				><a href="#" title="4016 topics" rel="tag" style="font-size:12.9pt;">nunc</a></li><li
				><a href="#" title="2481 topics" rel="tag" style="font-size:9.6pt;">odio</a></li><li
				><a href="#" title="10867 topics" rel="tag" style="font-size:27.7pt;">ornare</a></li><li
				><a href="#" title="2279 topics" rel="tag" style="font-size:9.2pt;">pellentesque</a></li><li
				><a href="#" title="2982 topics" rel="tag" style="font-size:10.7pt;">porttitor</a></li>
			</ul>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="custom-headings" class="marker"><a href="#custom-headings">Custom headings</a></h1>
			
			<h1 class="head">Li Europan lingues</h1>
			<h1 class="head"><a href="#">Es membres del sam familie</a></h1>
			
			<hr>
			
			<h1 class="label"><span>Li Europan lingues</span></h1>
			<h1 class="label"><a href="#">Es membres del sam familie</a></h1>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="h1-h6" class="marker"><a href="#h1-h6"><code>h1</code> - <code>h6</code></a></h1>
			
			<article>
				
				<h1>The quick brown fox hxy jumps over the lazy dog hxy</h1>
				<h1><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h1>
				
			</article>
			
			<hr>
			
			<article>
				
				<h2>The quick brown fox hxy jumps over the lazy dog hxy</h2>
				<h2><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h2>
				
			</article>
			
			<hr>
			
			<article>
				
				<h3>The quick brown fox hxy jumps over the lazy dog hxy</h3>
				<h3><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h3>
				
			</article>
			
			<hr>
			
			<article>
				
				<h4>The quick brown fox hxy jumps over the lazy dog hxy</h4>
				<h4><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h4>
				
			</article>
			
			<hr>
			
			<article>
				
				<h5>The quick brown fox hxy jumps over the lazy dog hxy</h5>
				<h5><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h5>
				
			</article>
			
			<hr>
			
			<article>
				
				<h6>The quick brown fox hxy jumps over the lazy dog hxy</h6>
				<h6><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h6>
				
			</article>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="sh1-sh6" class="marker"><a href="#sh1-sh6"><code>.sh1</code> - <code>.sh6</code></a></h1>
			
			<article>
				
				<h2 class="sh1">The quick brown fox hxy jumps over the lazy dog hxy</h2>
				<h2 class="sh1"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h2>
				
			</article>
			
			<hr>
			
			<article>
				
				<h2 class="sh2">The quick brown fox hxy jumps over the lazy dog hxy</h2>
				<h2 class="sh2"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h2>
				
			</article>
			
			<hr>
			
			<article>
				
				<h2 class="sh3">The quick brown fox hxy jumps over the lazy dog hxy</h2>
				<h2 class="sh3"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h2>
				
			</article>
			
			<hr>
			
			<article>
				
				<h2 class="sh4">The quick brown fox hxy jumps over the lazy dog hxy</h2>
				<h2 class="sh4"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h2>
				
			</article>
			
			<hr>
			
			<article>
				
				<h2 class="sh5">The quick brown fox hxy jumps over the lazy dog hxy</h2>
				<h2 class="sh5"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h2>
				
			</article>
			
			<hr>
			
			<article>
				
				<h2 class="sh6">The quick brown fox hxy jumps over the lazy dog hxy</h2>
				<h2 class="sh6"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h2>
				
			</article>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="h1-h6-sh1-sh6-p" class="marker"><a href="#h1-h6-sh1-sh6-p"><code>h1</code> - <code>h6</code> + <code>.sh1</code> - <code>.sh6</code> + <code>p</code></a></h1>
			
			<article>
				
				<h3 class="label"><span>Category Label</span></h3>
				<h1 class="h1"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h1>
				<h2 class="sh1">The quick brown fox hxy jumps over the lazy dog hxy</h2>
				<p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
				
			</article>
			
			<hr>
			
			<article>
				
				<h3 class="label"><a href="#">Category Label</a></h3>
				<h1 class="h2"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h1>
				<h2 class="sh2">The quick brown fox hxy jumps over the lazy dog hxy</h2>
				<p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
			
			</article>
			
			<hr>
			
			<article>
				
				<h3 class="label"><a href="#">Category Label</a></h3>
				<h1 class="h3"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h1>
				<h2 class="sh3">The quick brown fox hxy jumps over the lazy dog hxy</h2>
				<p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
			
			</article>
			
			<hr>
			
			<article>
				
				<h3 class="label"><a href="#">Category Label</a></h3>
				<h1 class="h4"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h1>
				<h2 class="sh4">The quick brown fox hxy jumps over the lazy dog hxy</h2>
				<p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
			
			</article>
			
			<hr>
			
			<article>
				
				<h3 class="label"><a href="#">Category Label</a></h3>
				<h1 class="h5"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h1>
				<h2 class="sh5">The quick brown fox hxy jumps over the lazy dog hxy</h2>
				<p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
			
			</article>
			
			<hr>
			
			<article>
				
				<h3 class="label"><a href="#">Category Label</a></h3>
				<h1 class="h6"><a href="#">The quick brown fox hxy jumps over the lazy dog hxy <span class="amp">&amp;</span> link</a></h1>
				<h2 class="sh6">The quick brown fox hxy jumps over the lazy dog hxy</h2>
				<p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
			
			</article>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="address" class="marker"><a href="#address"><code>address</code></a></h1>
			
			<address>
				<a href="#">Jane Poe</a>,
				<a href="#">Robert Roe</a>,
				<a href="#">Mark Moe</a>,
				<a href="#">Brett Boe</a>,
				<a href="#">Carla Coe</a>,
				<a href="#">Donna Doe</a>,
				<a href="#">Juan Doe</a>,
				<a href="#">Frank Foe</a>,
				<a href="#">Grace Goe</a>,
				<a href="#">Harry Hoe</a>,
				<a href="#">Jackie Joe</a>,
				<a href="#">Karren Koe</a>,
				<a href="#">Larry Loe</a>,
				<a href="#">Marta Moe</a>,
				<a href="#">Norma Noe</a>,
				<a href="#">Paula Poe</a>,
				<a href="#">Quintin Qoe</a>,
				<a href="#">Ralph Roe</a>,
				<a href="#">Sammy Soe</a>,
				<a href="#">Tommy Toe</a>,
				<a href="#">Vince Voe</a>,
				<a href="#">William Woe</a>,
				<a href="#">Xerxes Xoe</a>,
				<a href="#">Yvonne Yoe</a>,
				<a href="#">Zachary Zoe</a>
				and <a href="#">John Smith</a>.
			</address>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="blockquote" class="marker"><a href="#blockquote"><code>blockquote</code></a></h1>
			
			<h2 class="subtle">No paragraph</h2>
			
			<blockquote>
				
				Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.
				
			</blockquote>
			
			<h2 class="subtle">With paragraph</h2>
			
			<blockquote>
				
				<p>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</p>
				
			</blockquote>
			
			<blockquote>
				
				<p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
				
				<p>It va esser tam simplic quam Occidental in fact, it va esser Occidental.</p>
				
				<footer>&mdash; Li Europan lingues</footer>
				
			</blockquote>
			
			<blockquote>
				
				<p>The European languages are members of the same family.</p>
				
				<footer>
					
					<p>&mdash; <cite><a href="#">Li Europan lingues</a></cite>, English</p>
					
				</footer>
				
			</blockquote>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="dl-dt-dd" class="marker"><a href="#dl-dt-dd"><code>dl</code> + <code>dt</code> + <code>dd</code></a></h1>
			
			<dl>
				<dt><a href="#">Li Europan lingues es membres del sam familie.</a></dt>
					<dd>Lor separat existentie es un myth.</dd>
					<dd>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</dd>
					<dd>It va esser tam simplic quam Occidental in fact, it va esser Occidental.</dd>
				<dt>At solmen va esser necessi far uniform grammatica.</dt>
					<dd>Li nov lingua franca va esser plu simplic.</dd>
					<dd>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</dd>
					<dd>Omnicos directe al desirabilite.</dd>
				<dt>Li Europan lingues es membres del sam familie.</dt>
					<dd>Omnicos directe al desirabilite de un nov lingua franca.</dd>
					<dd>On refusa continuar payar custosi traductores.</dd>
					<dd>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</dd>
			</dl>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="figure" class="marker"><a href="#figure"><code>figure</code></a></h1>
			
			<figure>
				
				<a href="#"><img src="./images/junk/picard1.jpg" width="1200" alt="Jean-Luc Picard"></a>
				
				<figcaption>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. <a class="social social-pinterest" target="_blank" href="http://pinterest.com/pin/create/button/?url=YOUR-URL&amp;description=YOUR-DESCRIPTION&amp;media=YOUR-IMAGE-SRC"><i class="fa fa-lg fa-pinterest"></i> Pin it!</a></figcaption>
				
			</figure>
			
			<figure>
				
				<div class="scroll"><a href="#"><img src="./images/junk/picard1.jpg" width="1200" alt="Jean-Luc Picard"></a></div>
				
				<figcaption>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. <a class="social social-pinterest" target="_blank" href="http://pinterest.com/pin/create/button/?url=YOUR-URL&amp;description=YOUR-DESCRIPTION&amp;media=YOUR-IMAGE-SRC"><i class="fa fa-lg fa-pinterest"></i> Pin it!</a></figcaption>
				
			</figure>
			
			<figure>
				
				<a href="#"><img src="./images/junk/picard4.jpg" alt="Jean-Luc Picard"></a>
				
				<figcaption>
					
					<p>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</p>
					
					<p>Por scientie, musica, sport etc, litot Europa usa li sam vocabular.</p>
					
					<p>Li nov <a href="#">lingua franca</a> va esser plu simplic e regulari quam li existent <a href="#">Europan lingues</a>. It va esser tam simplic quam Occidental in fact, it va esser <a href="#">Occidental</a>.  <a class="social social-pinterest" target="_blank" href="http://pinterest.com/pin/create/button/?url=YOUR-URL&amp;description=YOUR-DESCRIPTION&amp;media=YOUR-IMAGE-SRC"><i class="fa fa-lg fa-pinterest"></i> Pin it!</a></p>
					
				</figcaption>
				
			</figure>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="hr" class="marker"><a href="#hr"><code>hr</code></a></h1>
			
			<hr>
			
			<div class="hr"></div>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="p" class="marker"><a href="#p"><code>p</code></a></h1>
			
			<p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores. At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues. Li nov lingua franca va esser plu simplic e regulari quam li existent Europan lingues.</p>
			
			<article>
				
				<p>Ma quande <a href="#">lingues coalesce</a>, li grammatica del <a href="#">resultant lingue</a> es plu simplic e <a href="#">regulari quam</a> ti del coalescent lingues. Li <a href="#">nov lingua</a> franca va esser plu <a href="#">simplic</a> e <a href="#">regulari</a> quam <a href="#">li</a> existent <a href="#">Europan lingues</a>.</p>
				
				<p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
				
				<p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
				
				<p>It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es. Li Europan lingues es membres del sam familie.</p>
				
				<p>Lor <code>separat</code> existentie <code>es</code> un <code>myth</code>. Por <code>scientie</code>, musica, <code>sport</code> etc, <code>litot</code> Europa <code>usa</code> li <code>sam</code> vocabular. <code>Li</code> lingues <code>differe</code> solmen <code>in</code> li <code>grammatica</code>, li <code>pronunciation</code> e <code>li</code> plu <code>commun</code> vocabules.</p>
				
				<p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
				
			</article>
			
			<hr>
			
			<h2 class="subtle"><code>.body</code></h2>
			
			<article>
				
				<div class="body">
					
					<p>Ma quande <a href="#">lingues coalesce</a>, li grammatica del <a href="#">resultant lingue</a> es plu simplic e <a href="#">regulari quam</a> ti del coalescent lingues. Li <a href="#">nov lingua</a> franca va esser plu <a href="#">simplic</a> e <a href="#">regulari</a> quam <a href="#">li</a> existent <a href="#">Europan lingues</a>.</p>
					
					<p>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
					
					<p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
					
					<p>It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es. Li Europan lingues es membres del sam familie.</p>
					
					<p>Lor <code>separat</code> existentie <code>es</code> un <code>myth</code>. Por <code>scientie</code>, musica, <code>sport</code> etc, <code>litot</code> Europa <code>usa</code> li <code>sam</code> vocabular. <code>Li</code> lingues <code>differe</code> solmen <code>in</code> li <code>grammatica</code>, li <code>pronunciation</code> e <code>li</code> plu <code>commun</code> vocabules.</p>
					
					<p>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
					
				</div>
				
				<footer>
					
					<p class="x5 meta">This entry was posted in <a href="#">Categoy Label</a> and tagged <a href="#">tag</a>, <a href="#">tag</a>, <a href="#">tag</a> on <a href="#">November 6, 2013</a>. Bookmark the <a href="#">permalink</a> or copy the short url: <a href="http://bit.ly/1bxGJsf">http://bit.ly/1bxGJsf</a></p>
					
					<ul class="x3 meta">
						<li>This entry was posted in <a href="#">Categoy Label</a> and tagged <a href="#">tag</a>, <a href="#">tag</a>, <a href="#">tag</a> on <a href="#">November 6, 2013</a>.</li>
						<li>Bookmark the <a href="#">permalink</a>.</li>
						<li>Copy the short url: <a href="http://bit.ly/1bxGJsf">http://bit.ly/1bxGJsf</a></li>
					</ul>
					
				</footer>
				
				<hr>
				
				<section id="comments">
					
					<p class="warn">
						The owner of this site doesn't necessarily condone the comments here, nor do they review every post.
						<br>
						<b><a href="http://help.disqus.com/customer/portal/topics/215154/articles" target="_blank">Not seeing your comment</a></b>? Disqus users, <b><a href="http://help.disqus.com/customer/portal/articles/960202-verifying-your-disqus-account" target="_blank">have you verified your account</a></b>?
					</p>
					
					<div id="disqus_thread" class="x6"></div>
					<script>var disqus_shortname='mhulse';(function(){var dsq=document.createElement('script');dsq.async=true;dsq.src='http://'+disqus_shortname+'.disqus.com/embed.js';(document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(dsq);})();</script>
					
				</section>
				
			</article>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="pre" class="marker"><a href="#pre"><code>pre</code></a></h1>

<pre>
<span class="prompt">$</span> sudo find / -name Xcode
<span class="prompt">$</span> grep -i error /etc/php.ini
<span class="prompt">$</span> env
<span class="prompt">$</span> ps<span class="cursor">_</span>
</pre>

<pre class="terminal">
<span class="prompt">$</span> sudo find / -name Xcode
<span class="prompt">$</span> grep -i error /etc/php.ini
<span class="prompt">$</span> env
<span class="prompt">$</span> ps<span class="cursor">_</span>
</pre>

<pre class="terminal">
! " # $ % &amp; ' ( ) * + , - . /
0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
@ A B C D E F G H I J K L M N O
P Q R S T U V W X Y Z [ \ ] ^ _
` a b c d e f g h i j k l m n o
p q r s t u v w x y z { | } ~ 
</pre>

<pre class="terminal">
0.5138707 0.1757256 0.3086337 0.5345317 0.9476302 0.1717277 0.7022309 0.2264168 0.4947661 0.1246986
0.0838954 0.3896298 0.2772301 0.3680532 0.9834590 0.5353862 0.7656789 0.6464736 0.7671438 0.7802362
0.8229621 0.1519211 0.6254769 0.3146764 0.3469039 0.9172033 0.5197607 0.4011658 0.6067690 0.7854244
</pre>

<pre class="terminal">
<code>var</code> li = europan.lingues({
	lingua  : ['desirabilite', 'necessi'],
	payar   : 'grammatica',
	simplic : function() { directe.refusa('Li Europan lingues es membres del sam familie.'); },
	esser   : 'On refusa continuar payar custosi traductores.'
});
</pre>

			<hr>
			
			<h1 id="gist" class="marker"><a href="#gist">Gist</a></h1>
			
			<div class="x6"><script src="https://gist.github.com/mhulse/6003668.js?file=.bashrc"></script></div>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="ol" class="marker"><a href="#ol"><code>ol</code></a></h1>
			
			<ol class="li1">
				<li><a href="#">Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</a></li>
				<li>Lor separat existentie es un myth.</li>
				<li>Li Europan lingues es membres del sam familie.</li>
				<li>A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.</li>
				<li>It va esser tam simplic quam Occidental in fact, it va esser Occidental.</li>
				<li>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</li>
				<li>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</li>
				<li>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</li>
				<li>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</li>
				<li> It va esser tam simplic quam Occidental in fact, it va esser Occidental.</li>
				<li>On refusa continuar payar custosi traductores.</li>
				<li>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</li>
			</ol>
			
			<hr>
			
			<ol class="li1">
				<li>Li Europan lingues es membres del sam familie.</li>
				<li><img width="250" src="./images/junk/picard2.jpg"></li>
				<li>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</li>
			</ol>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="ul" class="marker"><a href="#ul"><code>ul</code></a></h1>
			
			<ul class="li2">
				<li><a href="#">Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</a></li>
				<li>Lor separat existentie es un myth.</li>
				<li>Li Europan lingues es membres del sam familie.</li>
				<li>A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.</li>
				<li>It va esser tam simplic quam Occidental in fact, it va esser Occidental.</li>
				<li>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</li>
				<li>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</li>
				<li>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</li>
				<li>Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</li>
				<li> It va esser tam simplic quam Occidental in fact, it va esser Occidental.</li>
				<li>On refusa continuar payar custosi traductores.</li>
				<li>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</li>
			</ul>
			
			<hr>
			
			<ul class="li2">
				<li>Lor separat existentie es un myth.</li>
				<li>Li Europan <img width="150" src="./images/junk/picard3.jpg"> lingues es membres del sam familie. Lor separat existentie es un myth.</li>
				<li>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles.</li>
			</ul>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="a" class="marker"><a href="#a"><code>a</code></a></h1>
			
			<p><a href="#">At solmen va esser necessi far uniform grammatica</a>, pronunciation e <a href="#">plu sommun paroles</a>.</p>
			
			<p>Li Europan <a href="#">lingues es membres</a> del sam familie.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="abbr" class="marker"><a href="#abbr"><code>abbr</code></a></h1>
			
			<p>A un Angleso it va <abbr title="Mister">semblar</abbr> un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="bdi" class="marker"><a href="#bdi"><code>bdi</code></a></h1>
			
			<p><bdi>It va esser tam simplic quam Occidental in fact, it va esser Occidental.</bdi></p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="bdo" class="marker"><a href="#bdo"><code>bdo</code></a></h1>
			
			<p><bdo dir="rtl">It va esser tam simplic quam Occidental in fact, it va esser Occidental.</bdo></p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="cite" class="marker"><a href="#cite"><code>cite</code></a></h1>
			
			<p>Li lingues differe solmen in li grammatica, <cite><a href="#">li pronunciation</a></cite> e li plu commun vocabules.</p>
			
			<p>My favourite movie is <cite>Rustlers' Rhapsody</cite> by Hugh Wilson.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="code" class="marker"><a href="#code"><code>code</code></a></h1>
			
			<p>Omnicos <code>directe al desirabilite</code> de un nov <code>lingua franca</code>: On refusa <code>continuar payar custosi</code> traductores.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="data" class="marker"><a href="#data"><code>data</code></a></h1>
			
			<ul>
				<li><data value="1234567890"><a href="#">Li Europan lingues.</a></data></li>
				<li><data value="1234567890"><a href="#">Lor separat existentie es un myth.</a></data></li>
				<li><data value="1234567890"><a href="#">It va esser tam simplic quam Occidental in fact, it va esser Occidental.</a></data></li>
			</ul>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="dfn" class="marker"><a href="#dfn"><code>dfn</code></a></h1>
			
			<p>Li <dfn id="european"><abbr title="European">Europan</abbr></dfn> lingues es membres del sam familie. Lor separat existentie es un myth.</p>
			
			<p>Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
			
			<p>Li nov lingua franca va esser plu simplic e regulari quam li existent <a href="#european"><abbr title="European">Europan</abbr></a> lingues.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="em-i" class="marker"><a href="#em-i"><code>em</code> + <code>i</code></a></h1>
			
			<p><em>Ma</em> <i>quande</i> <em>lingues</em> <i>coalesce</i>, <em>li</em> <i>grammatica</i> <em>del</em> <i>resultant</i> <em>lingue</em> <i>es</i> <em>plu</em> <i>simplic</i> <em>e</em> <i>regulari</i> <em>quam</em> <i>ti</i> <em>del</em> <i>coalescent</i> <em>lingues</em>. <i>Li</i> <em>nov</em> <i>lingua</i> <em>franca</em> <i>va</i> <em>esser</em> <i>plu</i> <em>simplic</em> <i>e</i> <em>regulari</em> <i>quam</i> <em>li</em> <i>existent</i> <em>Europan</em> <i>lingues</i>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="kbd" class="marker"><a href="#kbd"><code>kbd</code></a></h1>
			
			<p>
				<kbd>`</kbd><wbr><kbd>1</kbd><wbr><kbd>2</kbd><wbr><kbd>3</kbd><wbr><kbd>4</kbd><wbr><kbd>5</kbd><wbr><kbd>6</kbd><wbr><kbd>7</kbd><wbr><kbd>8</kbd><wbr><kbd>9</kbd><wbr><kbd>0</kbd><wbr><kbd>-</kbd><wbr><kbd>=</kbd><wbr><kbd>Bkspc</kbd>
				<br>
				<kbd>Tab</kbd><wbr><kbd>q</kbd><wbr><kbd>w</kbd><wbr><kbd>e</kbd><wbr><kbd>r</kbd><wbr><kbd>t</kbd><wbr><kbd>y</kbd><wbr><kbd>u</kbd><wbr><kbd>i</kbd><wbr><kbd>o</kbd><wbr><kbd>p</kbd><wbr><kbd>[</kbd><wbr><kbd>]</kbd><wbr><kbd>\</kbd>
				<br>
				<kbd>Caps</kbd><wbr><kbd>a</kbd><wbr><kbd>s</kbd><wbr><kbd>d</kbd><wbr><kbd>f</kbd><wbr><kbd>g</kbd><wbr><kbd>h</kbd><wbr><kbd>j</kbd><wbr><kbd>k</kbd><wbr><kbd>l</kbd><wbr><kbd>;</kbd><wbr><kbd>'</kbd><wbr><kbd>Enter</kbd>
				<br>
				<kbd>Shift</kbd><wbr><kbd>z</kbd><wbr><kbd>x</kbd><wbr><kbd>c</kbd><wbr><kbd>v</kbd><wbr><kbd>b</kbd><wbr><kbd>n</kbd><wbr><kbd>m</kbd><wbr><kbd>,</kbd><wbr><kbd>.</kbd><wbr><kbd>/</kbd><wbr><kbd>Shift</kbd>
			</p>
			
			<p>Li nov <kbd>CTRL</kbd>+<kbd>F5</kbd> lingua franca va esser plu simplic <kbd><kbd>Shift</kbd> + <kbd>F3</kbd></kbd> e regulari quam li existent Europan lingues. It va esser tam simplic quam Occidental in fact, it va esser Occidental.</p>
			
			<p><kbd><kbd>A</kbd> + <kbd>B</kbd> + <kbd>C</kbd> + <kbd>D</kbd> + <kbd>E</kbd> + <kbd>F</kbd> + <kbd>G</kbd> + <kbd>H</kbd> + <kbd>I</kbd> + <kbd>J</kbd> + <kbd>K</kbd> + <kbd>L</kbd> + <kbd>M</kbd> + <kbd>N</kbd> + <kbd>O</kbd> + <kbd>P</kbd> + <kbd>Q</kbd> + <kbd>R</kbd> + <kbd>S</kbd> + <kbd>T</kbd> + <kbd>U</kbd> + <kbd>V</kbd> + <kbd>W</kbd> + <kbd>X</kbd> + <kbd>Y</kbd> and <kbd>Z</kbd>!</kbd></p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="mark" class="marker"><a href="#mark"><code>mark</code></a></h1>
			
			<p>Li <mark>lingues</mark> differe <mark>solmen</mark> in <mark>li</mark> grammatica, <mark>li</mark> pronunciation <mark>e</mark> li <mark>plu</mark> commun <mark>vocabules</mark>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="q" class="marker"><a href="#q"><code>q</code></a></h1>
			
			<p>Lor <q>separat</q> existentie <q>es</q> un <q>myth</q>.</p>
			
			<p>Omnicos directe al desirabilite de un nov lingua franca: <q>On refusa continuar payar custosi traductores.</q></p>
			
			<p><q>A <q>un <q>Angleso <q>it <q>va <q>semblar <q>un <q>simplificat <q>Angles, <q>quam <q>un <q>skeptic <q>Cambridge <q>amico <q>dit <q>me <q>que <q>Occidental <q>es. <q>Li <q>Europan <q>lingues <q>es <q>membres <q>del <q>sam <q>familie. <q>Lor <q>separat existentie</q> es</q> un</q> myth</q>. Por</q> scientie</q>, musica</q>, sport</q> etc</q>, litot</q> Europa</q> usa</q> li</q> sam</q> vocabular</q>. Li</q> lingues</q> differe</q> solmen</q> in</q> li</q> grammatica</q>, li</q> pronunciation</q> e</q> li</q> plu</q> commun</q> vocabules.</q></p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="ruby-rp-rt" class="marker"><a href="#ruby-rp-rt"><code>ruby</code> + <code>rp</code> + <code>rt</code></a></h1>
			
			<p><ruby>攻殻<rp>（</rp><rt>こうかく</rt><rp>）</rp>機動隊<rp>（</rp><rt>きどうたい</rt><rp>）</rp></ruby></p>
			
			<p><ruby><ruby>攻<rp>（</rp><rt>こう</rt><rp>）</rp>殻<rp>（</rp><rt>かく</rt><rp>）</rp>機<rp>（</rp><rt>き</rt><rp>）</rp>動<rp>（</rp><rt>どう</rt><rp>）</rp>隊<rp>（</rp><rt>たい</rt><rp>）</rp></ruby><rp>（</rp><rt>Li Europan lingues</rt><rp>）</rp></ruby></p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="s" class="marker"><a href="#s"><code>s</code></a></h1>
			
			<p><s>Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</s></p>
			
			<p>At solmen va esser necessi far uniform grammatica, <s>pronunciation e plu sommun paroles</s>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="samp" class="marker"><a href="#samp"><code>samp</code></a></h1>
			
			<p>Li <samp>Europan lingues</samp> es membres del sam familie. Lor <samp>separat existentie</samp> es un myth. Por scientie, musica, sport etc, <samp>litot Europa usa li sam vocabular</samp>. Li lingues differe solmen in li grammatica, <samp>li pronunciation e li plu commun vocabules</samp>.</p>
			
			<p><samp>Por scientie, musica, sport etc, litot Europa usa li sam vocabular</samp>. Li lingues differe solmen in li grammatica, <samp>li pronunciation e li plu commun vocabules</samp>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="small" class="marker"><a href="#small"><code>small</code></a></h1>
			
			<p><small> It va esser tam simplic quam Occidental in fact, it va esser Occidental. A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.</small></p>
			
			<p><span class="small">At solmen va esser</span> necessi far uniform grammatica, <span class="small">pronunciation e plu sommun paroles</span>.</p>
			
			<p class="small">Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="strong-b" class="marker"><a href="#strong-b"><code>strong</code> + <code>b</code></a></h1>
			
			<p><strong>At solmen va esser necessi</strong> far <b>uniform grammatica</b>, pronunciation e <strong>plu sommun paroles</strong>. Ma <b>quande lingues coalesce</b>, li grammatica del <strong>resultant lingue es plu simplic e regulari</strong> quam ti del <b>coalescent lingues</b>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="sub-sup" class="marker"><a href="#sub-sup"><code>sub</code> + <code>sup</code></a></h1>
			
			<p>Omnico<sup>s</sup> direct<sub>e</sub> a<sup>l</sup> desirabilit<sub>e</sub> d<sup>e</sup> u<sub>n</sub> n<sup>o</sup>v l<sub>i</sub>ngua fr<sup>a</sup>nca: O<sub>n</sub> ref<sup>u</sup>sa contin<sub>u</sub>ar pa<sup>y</sup>ar c<sub>u</sub>stosi <sup>t</sup>raductores.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="time" class="marker"><a href="#time"><code>time</code></a></h1>
			
			<p>At solmen va esser necessi far uniform grammatica, <time datetime="2013-09-30T10:00-10:30">pronunciation e plu sommun paroles</time>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="u" class="marker"><a href="#u"><code>u</code></a></h1>
			
			<p>Omnicos <u>directe al desirabilite de un nov lingua</u> franca: On <u>refusa continuar payar</u> custosi traductores. At <u>solmen va esser necessi</u> far uniform grammatica, <u>pronunciation e plu sommun paroles</u>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="var" class="marker"><a href="#var"><code>var</code></a></h1>
			
			<p><var>Omnicos</var> directe <var>al</var> desirabilite <var>de</var> un <var>nov</var> lingua <var>franca</var>: On <var>refusa</var> continuar <var>payar</var> custosi <var>traductores</var>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="wbr" class="marker"><a href="#wbr"><code>wbr</code></a></h1>
			
			<p><code>LiEuropanlingues<wbr>esmembresdelsam<wbr>familie.</code></p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="del-ins" class="marker"><a href="#del-ins"><code>del</code> + <code>ins</code></a></h1>
			
			<p><del>Omnicos</del> <ins>directe</ins> al <del>desirabilite</del> de un nov <ins>lingua</ins> franca: On <del datetime="2013-09-30T10:00-08:00">refusa</del> <ins datetime="2013-09-30T10:00-08:00">continuar</ins> payar custosi traductores. At solmen va esser necessi far <del>uniform grammatica</del><ins>, pronunciation e plu sommun paroles</ins>.</p>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="table-children" class="marker"><a href="#table-children"><code>table</code> + children</a></h1>
			
			<div class="x6 scroll">
				<table>
					<caption>Li Europan lingues es membres del sam familie.</caption>
					<thead>
						<tr>
							<th scope="col">Europan</th>
							<th scope="col">Omnicos</th>
							<th scope="col">Occidental</th>
							<th scope="col">Cambridge</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="4">Lor separat existentie es un myth.</td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<th scope="row">Pronunciation e plu</th>
							<td>On refusa continuar payar</td>
							<td>Occidental in fact</td>
							<td>On refusa continuar payar</td>
						</tr>
						<tr>
							<th scope="row">Grammatica</th>
							<td>It va esser tam simplic</td>
							<td></td>
							<td>Lor separat existentie</td>
						</tr>
						<tr>
							<th scope="row">Simplic e regulari</th>
							<td>Omnicos directe al desirabilite</td>
							<td></td>
							<td>Custosi traductores</td>
						</tr>
						<tr>
							<th scope="row">Lor separat existentie</th>
							<td></td>
							<td></td>
							<td>Ma quande lingues coalesce</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<hr>
			
			<div class="x6 scroll">
				<table class="table table-border-x">
					<caption>Li Europan lingues es membres del sam familie.</caption>
					<thead>
						<tr>
							<th scope="col">Europan</th>
							<th scope="col">Omnicos</th>
							<th scope="col">Occidental</th>
							<th scope="col">Cambridge</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="4">Lor separat existentie es un myth.</td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<th scope="row">Pronunciation e plu</th>
							<td>On refusa continuar payar</td>
							<td>Occidental in fact</td>
							<td>On refusa continuar payar</td>
						</tr>
						<tr>
							<th scope="row">Grammatica</th>
							<td>It va esser tam simplic</td>
							<td></td>
							<td>Lor separat existentie</td>
						</tr>
						<tr>
							<th scope="row">Simplic e regulari</th>
							<td>Omnicos directe al desirabilite</td>
							<td></td>
							<td>Custosi traductores</td>
						</tr>
						<tr>
							<th scope="row">Lor separat existentie</th>
							<td></td>
							<td></td>
							<td>Ma quande lingues coalesce</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<hr>
			
			<div class="x6 scroll">
				<table class="table table-border-y">
					<caption>Li Europan lingues es membres del sam familie.</caption>
					<thead>
						<tr>
							<th scope="col">Europan</th>
							<th scope="col">Omnicos</th>
							<th scope="col">Occidental</th>
							<th scope="col">Cambridge</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="4">Lor separat existentie es un myth.</td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<th scope="row">Pronunciation e plu</th>
							<td>On refusa continuar payar</td>
							<td>Occidental in fact</td>
							<td>On refusa continuar payar</td>
						</tr>
						<tr>
							<th scope="row">Grammatica</th>
							<td>It va esser tam simplic</td>
							<td></td>
							<td>Lor separat existentie</td>
						</tr>
						<tr>
							<th scope="row">Simplic e regulari</th>
							<td>Omnicos directe al desirabilite</td>
							<td></td>
							<td>Custosi traductores</td>
						</tr>
						<tr>
							<th scope="row">Lor separat existentie</th>
							<td></td>
							<td></td>
							<td>Ma quande lingues coalesce</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<hr>
			
			<div class="x6 scroll">
				<table class="table table-border-x table-border-y">
					<caption>Li Europan lingues es membres del sam familie.</caption>
					<thead>
						<tr>
							<th scope="col">Europan</th>
							<th scope="col">Omnicos</th>
							<th scope="col">Occidental</th>
							<th scope="col">Cambridge</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<td colspan="4">Lor separat existentie es un myth.</td>
						</tr>
					</tfoot>
					<tbody>
						<tr>
							<th scope="row">Pronunciation e plu</th>
							<td>On refusa continuar payar</td>
							<td>Occidental in fact</td>
							<td>On refusa continuar payar</td>
						</tr>
						<tr>
							<th scope="row">Grammatica</th>
							<td>It va esser tam simplic</td>
							<td></td>
							<td>Lor separat existentie</td>
						</tr>
						<tr>
							<th scope="row">Simplic e regulari</th>
							<td>Omnicos directe al desirabilite</td>
							<td></td>
							<td>Custosi traductores</td>
						</tr>
						<tr>
							<th scope="row">Lor separat existentie</th>
							<td></td>
							<td></td>
							<td>Ma quande lingues coalesce</td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</section>
		
		<hr>
		
		<section>
			
			<h1 id="form-children" class="marker"><a href="#form-children"><code>form</code> + children</a></h1>
			
			<form class="form" id="fm" name="fm" action="" method="post">
				
				<input type="hidden" name="fm_hidden" value="hidden">
				
				<fieldset>
					
					<legend></legend>
					
					<label>Password: <input type="password" name="fm_password" placeholder="&hellip; enter password &hellip;"></label>
					
					<hr>
					
					<!--
					<label>File: <input type="file" name="fm_file" placeholder="&hellip; choose file &hellip;"></label>
					
					<hr>
					-->
					
					<label>Text: <input type="text" name="fm_text-1" placeholder="&hellip; text &hellip;"></label>
					
					<label>Text: <input type="text" name="fm_text-2" placeholder="&hellip; text &hellip;" disabled></label>
					
					<label>Text: <input type="text" name="fm_text-3" placeholder="&hellip; text &hellip;" value="&hellip; read only &hellip;" readonly></label>
					
					<hr>
					
					<label>
						Select:
						<select name="fm_select">
							<optgroup label="Group 1">
								<option value="Option 1.1">Option 1.1</option>
							</optgroup> 
							<optgroup label="Group 2">
								<option value="Option 2.1">Option 2.1</option>
								<option value="Option 2.2">Option 2.2</option>
							</optgroup>
							<optgroup label="Group 3" disabled>
								<option value="Option 3.1">Option 3.1</option>
								<option value="Option 3.2">Option 3.2</option>
								<option value="Option 3.3">Option 3.3</option>
							</optgroup>
						</select>
					</label>
					
					<hr>
					
					<label><input type="checkbox" name="fm_checkbox[]" value="checkbox"> Checkbox</label>
					
					<label><input type="checkbox" name="fm_checkbox[]" value="checkbox"> Checkbox</label>
					
					<label><input type="checkbox" name="fm_checkbox[]" value="checkbox"> Checkbox</label>
					
					<label><input type="checkbox" name="fm_checkbox[]" value="checkbox"> Checkbox</label>
					
					<label><input type="checkbox" name="fm_checkbox[]" value="checkbox"> Checkbox</label>
					
					<hr>
					
					<label><input type="radio" name="fm_radio" value="radio"> Radio</label>
					
					<label><input type="radio" name="fm_radio" value="radio"> Radio</label>
					
					<label><input type="radio" name="fm_radio" value="radio"> Radio</label>
					
					<label><input type="radio" name="fm_radio" value="radio"> Radio</label>
					
					<label><input type="radio" name="fm_radio" value="radio"> Radio</label>
					
					<hr>
					
					<label class="x5">Textarea: <textarea name="fm_textarea-1"></textarea></label>
					
					<label class="x5">Textarea: <textarea name="fm_textarea-2" disabled></textarea></label>
					
					<label class="x5">Textarea: <textarea name="fm_textarea-3" readonly>&hellip; read only &hellip;</textarea></label>
					
					<hr>
					
					<a class="button" href="#">Link</a>
					
					<hr>
					
					<button type="button" name="fm_button-2">Button</button>
					
					<hr>
					
					<button type="submit" name="fm_submit-2">Submit</button> <button type="reset" name="fm_reset-2">Reset</button>
					
				</fieldset>
				
			</form>
			
		</section>
		
	</main>
	
	<hr>
	
	<footer role="contentinfo">
		
		<p class="boring">
			<span><i class="fa fa-github-alt"></i> <a href="http://github.com/mhulse">GitHub</a> (<a href="https://gist.github.com/mhulse">Gists</a>)</span>
			<span><span>&nbsp;/&nbsp;</span> <i class="fa fa-stack-exchange"></i> <a href="http://stackexchange.com/users/560173/mhulse">StackExchange</a> <span>&nbsp;/&nbsp;</span></span>
			<span><i class="fa fa-star"></i> <a href="https://github.com/mhulse/picard">Picard</a></span>
			<small><span>Copyright &copy; <a href="http://mhulse.com">mhulse.com</a> 2013-14.</span> <span>All rights reserved.</span></small>
		</p>
		
	</footer>
	
	<!--[if !IE]><!-->
	
	<!-- @if NODE_ENV == 'DEVELOPMENT' -->
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
	
	<script src="./scripts/wwpd.init.js"></script>
	<script src="./scripts/wwpd.mod.twitter.js"></script>
	<script src="./scripts/wwpd.js"></script>
	
	<script>
		
		$(document).ready(function() {});
		
		$(window).load(function() {});
		
		$(window).resize(function() {});
		
	</script>
	
	<!-- @endif -->
	
	<!-- @if NODE_ENV == 'PRODUCTION' -->
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script>if(!window.jQuery){document.write('<script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.0.3.min.js"><\/script>');}</script>
	
	<script src="//static.mhulse.com/<!-- @echo name -->/prod/<!-- @echo version -->/<!-- @echo now -->/<!-- @echo ver -->/scripts/<!-- @echo name -->.min.js"></script>
	
	<!-- @endif -->
	
	<!--<![endif]-->
	
	<script>(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;e=o.createElement(i);r=o.getElementsByTagName(i)[0];e.src='//www.google-analytics.com/analytics.js';r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));ga('create','UA-46485001-1');ga('send','pageview');</script>
	
</body>
</html>
