html {
	height: 100%;
	overflow-y: scroll;
}

body {
	
	font-family: $sans;
	color: $gray6;
	background: $gray2;
	padding: 0 24px;
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
	        font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	
	@media all and (min-width: 1020px) {
		
		& { padding: 48px; }
		
	}
	
}

a {
	
	&,
	&:visited {
		color: $smurf;
		text-decoration: none;
	}
	&:visited:hover,
	&:focus,
	&:focus:hover,
	&:hover,
	&:active { color: $lobster; }
	
}

hr, .hr {
	border-color: $graye;
	margin: 36px 0;
}

::-moz-selection {
	background: fade-out($smurf, .45);
	text-shadow: none;
}

::selection {
	background: fade-out($smurf, .45);
	text-shadow: none;
}
