html,
body { overflow-x: hidden; } // https://github.com/mhulse/picard/issues/193

html {
	height: 100%;
	overflow-y: scroll;
	-webkit-tap-highlight-color: rgba($smurf, .55);
}

body {
	
	font-family: $sans;
	text-align: center;
	color: $raven;
	background: $milk;
	padding: #{rex_relative($base_padding * 5)}rem;
	min-height: 100%;
	text-rendering: optimizeLegibility;
	
	@media (max-width: #{rex_relative($base_breakpoint-max)}rem) {
		
		& { padding: #{rex_relative($base_padding * 2)}rem; }
		
	}
	
}

a {
	
	&,
	&:visited {
		color: $lobster;
		text-decoration: none;
	}
	&:visited:hover,
	&:focus,
	&:focus:hover,
	&:hover,
	&:active {
		color: $juice;
		text-decoration: underline;
	}
	
}

::-moz-selection {
	background: rgba($smurf, .55);
	text-shadow: none;
}

::selection {
	background: rgba($smurf, .55);
	text-shadow: none;
}

hr,
.hr {
	
	border: 0;
	border-top: #{rex_relative(4)}rem solid $graye;
	height: 0;
	margin: {
		top: #{rex_relative($base_margin) * 4}rem;
		bottom: #{rex_relative($base_margin) * 4}rem;
	}
	padding: 0;
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	    -ms-box-sizing: content-box;
	        box-sizing: content-box;
	
	article &,
	aside &,
	section & {
		border-top-width: #{rex_relative(2)}rem;
		border-color: $grayc;
		margin: {
			top: #{rex_relative($base_margin) * 3}rem;
			bottom: #{rex_relative($base_margin) * 3}rem;
		}
	}
	
	.body & {
		border-top: none;
		height: #{rex_relative(4)}rem;
		// http://lea.verou.me/2010/12/checkered-stripes-other-background-patterns-with-css3-gradients/
		background-color: transparent;
		background-image:
			linear-gradient(
				90deg,
				$gray9 50%,
				transparent 50%,
				transparent
			);
		// Controls the size of the stripes:
		-webkit-background-size: #{rex_relative(10)}rem #{rex_relative(10)}rem;
		   -moz-background-size: #{rex_relative(10)}rem #{rex_relative(10)}rem;
				background-size: #{rex_relative(10)}rem #{rex_relative(10)}rem;
		background-position: center center;
	}
	
}

section,
article,
aside {
	
	> :first-child { margin-top: 0 !important; }
	> :last-child { margin-bottom: 0 !important; }
	
}
