html {
	height: 100%;
	overflow-y: scroll;
}

body {
	
	font-family: $sans;
	text-align: center;
	color: $raven;
	background: $milk;
	padding: $base_padding * 5;
	min-height: 100%;
	text-rendering: optimizeLegibility;
	
	@media (max-width: #{relative($base_breakpoint-max)}rem) {
		
		& { padding: #{relative($base_padding * 2)}rem; }
		
	}
	
}

a {
	
	&,
	&:visited {
		color: $lobster;
		text-decoration: none;
	}
	&:visited:hover,
	&:focus,
	&:focus:hover,
	&:hover,
	&:active {
		color: $juice;
		text-decoration: underline;
	}
	
}

::-moz-selection {
	background: fade-out($smurf, .45);
	text-shadow: none;
}

::selection {
	background: fade-out($smurf, .45);
	text-shadow: none;
}

hr,
.hr {
	
	border: 0;
	border-top: #{relative(2)}rem solid $graye;
	height: 0;
	margin: {
		top: #{relative($base_margin) * 4}rem;
		bottom: #{relative($base_margin) * 4}rem;
	}
	padding: 0;
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	        box-sizing: content-box;
	
	section & {
		border-top-width: #{relative(1)}rem;
		margin: {
			top: #{relative($base_margin) * 2}rem;
			bottom: #{relative($base_margin) * 2}rem;
		}
	}
	
}

section,
article,
aside {
	
	> :first-child { margin-top: 0 !important; }
	> :last-child { margin-bottom: 0 !important; }
	
}
