pre {
	
	@include baseline(18, .875);
	
	color: fade-out(darken($bling, 20%), .1);
	background: fade-out(darken($bling, 40%), .9);
	box-shadow: inset 0 0 10px 0 fade-out($raven, .2);
	word-wrap: normal;
	overflow: auto;
	white-space: pre;
	/*-webkit-overflow-scrolling: touch;*/
	
	border: 1px solid fade-out(darken($bling, 40%), .5);
	padding: 24px;
	
	& code,
	& kbd,
	& samp {
		text-shadow: none;
		line-height: inherit;
		color: inherit;
		font-size: 1em;
		background: transparent;
		margin: 0;
		padding: 0;
		top: 0;
		border: 0;
		border-radius: 0;
		box-shadow: none;
	}
	
	// Blinking cursor.
	//
	// @see http://fredericiana.com/2012/11/04/html5-blink-tag/
	
	& .cursor {
		-webkit-animation-duration: 2s;
		        animation-duration: 2s;
		-webkit-animation-name: cursor-blink;
		        animation-name: cursor-blink;
		-webkit-animation-iteration-count: infinite;
		        animation-iteration-count: infinite;
		-webkit-animation-timing-function: steps(2, start);
		        animation-timing-function: steps(2, start);
	}
	
	// Prompt style.
	
	& .prompt { color: $raven; }
	
	&.terminal {
		
		letter-spacing: .05em;
		color: lighten(adjust-hue($hulk, 45), 20%);
		text-shadow: 0 1px 0 $raven;
		background: fade-in($gray1, .9);
		box-shadow: inset 0 0 5px 0 fade-in($raven, .5);
		
		& .prompt { color: lighten(adjust-hue($hulk, 90), .2); }
		
	}
	
}

code {
	font-family: $mono;
	font-weight: normal;
	font-style: normal;
	line-height: 0;
	color: fade-out(darken($bling, 20%), .1);
	padding: 0 4px;
	border: 1px solid fade-out($bling, .9);
	background: fade-out(darken($bling, 40%), .9);
	border-radius: 3px;
	white-space: pre;           // CSS 2.0
	white-space: pre-wrap;      // CSS 2.1
	white-space: pre-line;      // CSS 3.0
	white-space: -pre-wrap;     // Opera 4-6
	white-space: -o-pre-wrap;   // Opera 7
	white-space: -moz-pre-wrap; // Mozilla
	white-space: -hp-pre-wrap;  // HP Printers
	word-wrap: break-word;      // IE 5+
	position: relative;
}

kbd {
	font-family: $mono;
	font-weight: normal;
	font-style: normal;
	line-height: 0;
	text-shadow: 0 1px 0 fade-out($raven, .1);
	color: fade-out($graye, .3);
	background: fade-out($gray3, .2);
	border-radius: 2px;
	margin: 0 2px;
	padding: 1px 3px;
	position: relative;
	
	& kbd,
	& samp {
		text-shadow: none;
		line-height: inherit;
		color: inherit;
		font-size: 1em;
		background: transparent;
		margin: 0;
		padding: 0;
		top: 0;
		border: 0;
		border-radius: 0;
		box-shadow: none;
	}
	
}

samp {
	font-family: $mono;
	font-weight: normal;
	font-size: smaller;
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: .09em;
	color: fade-out(lighten($bruise, 60%), .35);
	line-height: 0;
	text-shadow: 0 1px 0 fade-out(darken($bruise, 60%), .1);
	background: fade-out(mix($bruise, $milk, 75%), .75);
	padding: 2px 5px;
	position: relative;
}

var {
	font-family: $mono;
	font-weight: normal;
	font-style: italic;
	color: fade-out($gray9, .2);
}