pre {
	
	@include baseline($base_font-size, .875);
	text-align: left;
	color: $gray4;
	background: fade-out($graye, .5);
	//box-shadow: inset 0 0 #{relative(3)}em 0 fade-out($raven, .75);
	word-wrap: normal;
	overflow: auto;
	white-space: pre;
	-webkit-overflow-scrolling: touch;
	border: 1px solid $grayd;
	padding: #{relative($base_padding) / 2}rem #{relative($base_padding)}rem;
	
	-webkit-border-radius: #{relative($base_radii)}em;
	   -moz-border-radius: #{relative($base_radii)}em;
	        border-radius: #{relative($base_radii)}em;
	
	// Blinking cursor.
	//
	// @see http://fredericiana.com/2012/11/04/html5-blink-tag/
	
	.cursor {
		-webkit-animation-duration: 2s;
		        animation-duration: 2s;
		-webkit-animation-name: cursor-blink;
		        animation-name: cursor-blink;
		-webkit-animation-iteration-count: infinite;
		        animation-iteration-count: infinite;
		-webkit-animation-timing-function: steps(2, start);
		        animation-timing-function: steps(2, start);
	}
	
	// Prompt style.
	
	.prompt { color: $raven; }
	
	&.terminal {
		
		letter-spacing: .05em;
		color: lighten(adjust-hue($hulk, 45), 20%);
		text-shadow: 0 1px 0 $raven;
		background: darken($hulk, 25%);
		border: 1px solid $raven;
		-webkit-box-shadow: inset 0 0 #{relative(5)}rem 0 fade-in($raven, .75);
		   -moz-box-shadow: inset 0 0 #{relative(5)}rem 0 fade-in($raven, .75);
		        box-shadow: inset 0 0 #{relative(5)}rem 0 fade-in($raven, .75);
		
		.cursor {
			color: transparent;
			background: $lobster;
			letter-spacing: -.15em;
		}
		
		.prompt { color: $hulk; }
		
	}
	
}

code,
%code {
	font-size: inherit;
	font-family: $mono;
	font-weight: normal;
	font-style: normal;
	letter-spacing: normal;
	white-space: pre;           // CSS 2.0
	white-space: pre-wrap;      // CSS 2.1
	white-space: pre-line;      // CSS 3.0
	white-space: -pre-wrap;     // Opera 4-6
	white-space: -o-pre-wrap;   // Opera 7
	white-space: -moz-pre-wrap; // Mozilla
	white-space: -hp-pre-wrap;  // HP Printers
	word-wrap: break-word;      // IE 5+
}

kbd {
	
	@extend %code;
	
	font-size: smaller;
	color: $gray3;
	text-shadow: 0 #{relative(1)}em 0 $milk;
	background-color: $graye;
	border: #{relative(1)}em solid $grayc;
	margin: 0 .1em;
	padding: 0 .5em;
	display: inline-block;
	
	-webkit-background-clip: padding;
	   -moz-background-clip: padding;
	        background-clip: padding-box;
	
	-webkit-border-radius: #{relative($base_radii)}em;
	   -moz-border-radius: #{relative($base_radii)}em;
	        border-radius: #{relative($base_radii)}em;
	
	-webkit-box-shadow: 0 #{relative(1)}rem 0 fade-out($raven, .8), 0 0 0 #{relative(2)}rem $milk inset;
	   -moz-box-shadow: 0 #{relative(1)}rem 0 fade-out($raven, .8), 0 0 0 #{relative(2)}rem $milk inset;
	        box-shadow: 0 #{relative(1)}rem 0 fade-out($raven, .8), 0 0 0 #{relative(2)}rem $milk inset;
	
	kbd {
		font-size: inherit;
		color: inherit;
		text-shadow: none;
		background: transparent;
		border: 0;
		margin: 0;
		padding: 0;
		display: inline;
		box-shadow: none;
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
		        border-radius: 0;
	}
	
}

samp {
	
	@extend %code;
	
}

var {
	
	@extend %code;
	
}

// Gist embeds:
.gist { text-align: left; }
.gist-file {
	margin: {
		top: #{relative($base_margin)}rem;
		bottom: #{relative($base_margin)}rem;
	}
}
