@font-face {
	font-family: 'hulse';
	src: url('../fonts/hulse.eot');
	src: url('../fonts/hulse.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/hulse.woff')       format('woff'),
	     url('../fonts/hulse.ttf')        format('truetype'),
	     url('../fonts/hulse.svg#mhulse') format('svg');
	font-weight: normal;
	font-style: normal;
}
