.form {
	
	fieldset {
		
		border: 0;
		margin: 0;
		padding: 0;
		
		legend:empty { display: none; }
		
	}
	
	label {
		color: $gray6;
		letter-spacing: .05em;
		padding: #{relative(5)}em;
	}
	
	%fields {
		
		@include baseline(16);
		padding: #{baseline(16) / 4}em;
		
		color: $gray3;
		letter-spacing: .05em;
		text-align: center;
		border: #{relative(1)}rem solid $grayc;
		box-shadow: inset 0 #{relative(1)}em #{relative(3)}em lighten($grayd, 5%);
		background: lighten($graye, 5%);
		width: 100%;
		display: block;
		
		-webkit-appearance: none;
		
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
		        border-radius: 0;
		
		-webkit-transition: .3s linear border;
		   -moz-transition: .3s linear border;
		    -ms-transition: .3s linear border;
		     -o-transition: .3s linear border;
		        transition: .3s linear border;
		
		&:focus {
			outline: 0;
			border-color: $lobster;
		}
		
		&[disabled] {
			cursor: not-allowed;
			background-color: #eaeded;
			color: #cad2d3;
		}
		
		&[readonly] {
			background: #eee;
			color: #777;
			border-color: #ccc;
		}
		
	}
	
	input {
		
		&[type="text"],
		&[type="password"] {
			@extend %fields;
			height: auto; // Rex override.
		}
		
	}
	
	textarea {
		@extend %fields;
		min-height: #{relative($base_line-height * 10)}rem;
		resize: vertical; // [ none | horizontal | vertical | both ]
	}
	
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] { @extend .button; }
	
	input[type="checkbox"],
	input[type="radio"] { bottom: #{relative(1)}em; }
	
	select {
		font-size: #{relative(16)}rem;
		width: 100%;
	}
	
}
