.form {
	
	fieldset {
		
		border: 0;
		margin: 0;
		padding: 0;
		
		legend:empty { display: none; }
		
	}
	
	label {
		color: $gray6;
		letter-spacing: .05em;
		padding: #{relative(5)}em;
	}
	
	%fields {
		
		@include baseline($base_font-size + 2);
		padding: #{baseline($base_font-size) / 4}em;
		
		color: $gray3;
		letter-spacing: .05em;
		text-align: center;
		border: #{relative(1)}rem solid $grayc;
		background: lighten($graye, 5%);
		width: 100%;
		display: block;
		
		// h-offset, v-offset, blur, spread, color
		-webkit-box-shadow: inset 0 #{relative(1)}em #{relative(3)}em $grayc;
		   -moz-box-shadow: inset 0 #{relative(1)}em #{relative(3)}em $grayc;
		        box-shadow: inset 0 #{relative(1)}em #{relative(3)}em $grayc;
		
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		
		-webkit-appearance: none;
		   -moz-appearance: none;
		        appearance: none;
		
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
		    -ms-border-radius: 0;
		     -o-border-radius: 0;
		        border-radius: 0;
		
		-webkit-transition: .3s linear border;
		   -moz-transition: .3s linear border;
		    -ms-transition: .3s linear border;
		     -o-transition: .3s linear border;
		        transition: .3s linear border;
		
		-webkit-background-clip: padding;
		   -moz-background-clip: padding;
		        background-clip: padding-box;
		
		&::-webkit-input-placeholder {
			text-align: center;
			color: $gray9;
		}
		&:-moz-placeholder {
			text-align: center;
			color: $gray9;
		}
		&::-moz-placeholder {
			text-align: center;
			color: $gray9;
		}
		&:-ms-input-placeholder {
			text-align: center;
			color: $gray9;
		}
		
		&:focus,
		&:active { outline: none; }
		
		&:focus { border-color: $lobster; }
		
		&[disabled] {
			cursor: not-allowed;
			background: $graye;
			color: $grayc;
		}
		
		&[readonly] {
			background: $graye;
			color: $gray7;
			border-color: $grayc;
		}
		
	}
	
	input {
		
		&[type="text"],
		&[type="password"] {
			
			@extend %fields;
			height: auto; // Rex override.
			
		}
		
		&[type="search"] {
			
			@extend %fields;
			
			background: $grayd;
			background: -webkit-linear-gradient(top, $grayd 0, $milk 100%);
			background:    -moz-linear-gradient(top, $grayd 0, $milk 100%);
			background:     -ms-linear-gradient(top, $grayd 0, $milk 100%);
			background:      -o-linear-gradient(top, $grayd 0, $milk 100%);
			background:        -webkit-gradient(linear, left top, left bottom, color-stop(0, $grayd), color-stop(100%, $milk));
			background:         linear-gradient(to bottom, $grayd 0, $milk 100%);
			
			padding: #{baseline($base_font-size) / 2}em;
			
			-webkit-border-radius: 0 0 #{relative($base_radii * 2)}rem #{relative($base_radii * 2)}rem;
			   -moz-border-radius: 0 0 #{relative($base_radii * 2)}rem #{relative($base_radii * 2)}rem;
			    -ms-border-radius: 0 0 #{relative($base_radii * 2)}rem #{relative($base_radii * 2)}rem;
			     -o-border-radius: 0 0 #{relative($base_radii * 2)}rem #{relative($base_radii * 2)}rem;
			        border-radius: 0 0 #{relative($base_radii * 2)}rem #{relative($base_radii * 2)}rem;
			
			// h-offset, v-offset, blur, spread, color
			-webkit-box-shadow: inset 0 #{relative(1)}rem #{relative(5)}rem rgba($raven, .5), 0 #{relative(3)}rem #{relative(1)}rem rgba($raven, .05);
			   -moz-box-shadow: inset 0 #{relative(1)}rem #{relative(5)}rem rgba($raven, .5), 0 #{relative(3)}rem #{relative(1)}rem rgba($raven, .05);
			        box-shadow: inset 0 #{relative(1)}rem #{relative(5)}rem rgba($raven, .5), 0 #{relative(3)}rem #{relative(1)}rem rgba($raven, .05);
			
			border: 0 none;
			border-top: #{relative(4)}rem solid $raven;
			
			display: block;
			
			&:focus { border-color: $lobster; }
			
			&::-webkit-search-decoration,
			&::-webkit-search-cancel-button,
			&::-webkit-search-results-button,
			&::-webkit-search-results-decoration { display: none; }
			
		}
		
	}
	
	textarea {
		@extend %fields;
		min-height: #{relative($base_line-height * 10)}rem;
		resize: vertical; // [ none | horizontal | vertical | both ]
	}
	
	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] { @extend .button; }
	
	input[type="checkbox"],
	input[type="radio"] { bottom: #{relative(1)}em; }
	
	select {
		font-size: #{relative($base_font-size)}rem;
		width: 100%;
	}
	
}
