h1#flag {
	
	font: #{relative(115)}rem/#{relative(115)}rem "Hulse", Arial, sans-serif;
	margin-bottom: #{relative($base_margin * 5)}rem;
	
	span {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	
	a {
		
		display: inline-block;
		
		animation: {
			duration: .3s;
			timing-function: ease-in-out;
			fill-mode: forwards;
			iteration-count: infinite;
		}
		
		&,
		&:visited { color: $smurf; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $smurf;
			text-decoration: none;
		}
		
		&:hover { animation-name: jittery; }
		
		&:active,
		&:focus { outline: none; }
		
	}
	
}

hr,
.hr {
	border: 0;
	border-top: #{relative(2)}rem solid $graye;
	height: 0;
	margin: #{relative($base_margin) * 4}rem 0;
	padding: 0;
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	        box-sizing: content-box;
}

/*--------------------------------------------------------------------*/

address,
blockquote,
dd,
dl,
dt,
figcaption,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
pre,
ul,
label,
.box {
	max-width: #{relative(650)}rem;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

section hr {
	border-top-width: #{relative(1)}rem;
	max-width: #{relative(750)}rem;
	margin: #{relative($base_margin) * 2}rem auto;
}

.big {
	max-width: none;
}

section,
article,
aside {
	
	& > :first-child { margin-top: 0; }
	
}
