// http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/

dt {
	@include baseline($base_font-size + 2, .75);
	font-weight: bold;
	margin: 0;
	padding: #{baseline($base_font-size + 2, .25) / 2}em 0;
}

dd { margin-left: 0; }
