// http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/

ul, ol, dl { padding: 0; }

ul, ol { list-style: none; }

ol {
	
	counter-reset: li;
	
	> li {
		
		&:before {
			@include baseline($base_font-size - 2);
			color: $gray3;
			border: #{relative(1)}rem solid $gray3;
			width: #{baseline($base_font-size - 2)}em;
			margin: #{baseline($base_font-size - 2) / 2}em auto;
			display: block;
			content: counter(li);
			counter-increment: li;
			-webkit-border-radius: 50%;
			   -moz-border-radius: 50%;
			        border-radius: 50%;
		}
		
		&:first-child:before { margin-top: 0; }
		
	}
	
}

ul {
	
	> li {
		
		&:before {
			
			background: $gray3;
			width: .75rem;
			height: .75rem;
			margin: #{baseline($base_font-size - 2) / 2}em auto #{baseline($base_font-size - 2) / 4}em;
			display: block;
			content: "";
			-webkit-border-radius: 50%;
			   -moz-border-radius: 50%;
			        border-radius: 50%;
			
			&:first-child:before { margin-top: 0; }
			
		}
		
	}
	
}

dt {
	@include baseline($base_font-size + 2, .75);
	font-weight: bold;
	margin: 0;
	padding: #{baseline($base_font-size + 2, .25) / 2}em 0;
}

dd { margin-left: 0; }
