figure {
	
	margin: {
		top: #{relative($base_margin * 2)}rem;
		bottom: #{relative($base_margin * 2)}rem;
	}
	
	img {
		margin: 0 auto;
		display: block;
	}
	
}

figcaption {
	
	@include baseline($base_font-size - 2, .75);
	text-transform: uppercase;
	text-shadow: 0 #{relative(1)}em #{relative(1)}em $raven;
	letter-spacing: .05em;
	word-spacing: .25em;
	color: $grayd;
	
	background: $gray1;
	background: -webkit-linear-gradient(top, $gray2 0, $gray1 100%);
	background:    -moz-linear-gradient(top, $gray2 0, $gray1 100%);
	background:     -ms-linear-gradient(top, $gray2 0, $gray1 100%);
	background:      -o-linear-gradient(top, $gray2 0, $gray1 100%);
	background:        -webkit-gradient(linear, left top, left bottom, color-stop(0, $gray2), color-stop(100%, $gray1));
	background:         linear-gradient(to bottom, $gray2 0, $gray1 100%);
	
	margin-top: #{relative(13)}rem;
	padding: #{baseline($base_font-size, .75)}em;
	
	// Caption triangle:
	position: relative;
	&::after {
		content: "";
		position: absolute;
		border-style: solid;
		top: -9px;
		right: 0;
		left: 0;
		// Example on this pae might work better for centering:
		// http://www.yuiblog.com/blog/2010/11/22/css-quick-tip-css-arrows-and-shapes-without-markup/
		margin: 0 auto;
		display: block;
		width: 0;
		border-width: 0 10px 10px;
		border-color: $gray2 transparent;
		-webkit-transform: rotate(360deg);
	}
	
	-webkit-border-radius: #{relative($base_radii * 2)}rem;
	   -moz-border-radius: #{relative($base_radii * 2)}rem;
	        border-radius: #{relative($base_radii * 2)}rem;
	
	-webkit-box-shadow: 0 0 #{relative(2)}rem rgba(0, 0, 0, .9);
	   -moz-box-shadow: 0 0 #{relative(2)}rem rgba(0, 0, 0, .9);
	        box-shadow: 0 0 #{relative(2)}rem rgba(0, 0, 0, .9);
	
	p {
		font-size: inherit;
		line-height: inherit;
	}
	
	a {
		
		&,
		&:visited { color: $juice; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $bling;
			text-decoration: none;
		}
		
	}
	
	> :first-child { margin-top: 0 !important; }
	> :last-child { margin-bottom: 0 !important; }
	
}

img {
	max-width: 100%;
	height: auto;
}
