figure {
	
	margin: #{relative(25)}rem 0;
	
	img {
		margin: 0 auto;
		display: block;
	}
	
}

figcaption {
	
	@include baseline(12, .75);
	text-transform: uppercase;
	letter-spacing: .03em;
	margin: #{relative(10)}rem auto 0;
	
	p { line-height: inherit; }
	
}
