iframe[id^='twitter-widget-'],
.twitter-timeline { width: 100%; }

.cloud {
	
	> li {
		display: inline-block;
		text-transform: lowercase;
		margin: .1rem .25rem;
	}
	
	a {
		
		line-height: 1;
		display: block;
		
		&,
		&:visited { color: $dusk; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $smurf;
			text-decoration: none;
		}
		
	}
	
}

.meta {
	
	@include baseline($base_font-size, .875);
	color: $gray6;
	font-style: italic;
	border: #{relative(1)}rem solid $grayb;
	background: lighten($graye, 5%);
	border-radius: #{relative($base_radii)}rem;
	
	a {
		
		font-weight: bold;
		
		&,
		&:visited { color: $gray6; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $raven;
			text-decoration: underline;
		}
		
	}
	
}

ul.meta {
	
	// h-offset, v-offset, blur, spread, color
	box-shadow: 0 #{relative(3)}rem rgba($raven, .1);
	
	> li {
		
		border-bottom: #{relative(1)}rem solid $grayb;
		margin: 0;
		padding: #{baseline($base_font-size, .875) / 2}em;
		background: lighten($graye, 5%);
		box-shadow: inset 0 0 #{relative(10)}rem 0 rgba($raven, .2);
		
		&:last-child { border-bottom: 0; }
		
	}
	
}

p.meta {
	padding: #{baseline($base_font-size, .375)}em #{baseline($base_font-size)}em;
	box-shadow: inset 0 0 #{relative(10)}rem 0 rgba($raven, .2), 0 #{relative(3)}rem rgba($raven, .1);
}

ul.meta > li,
p.meta {
	
	-webkit-transition: background-color 200ms linear;
	        transition: background-color 200ms linear;
	
	&:hover { background: $milk; }
	
}

.callout {
	
	@include baseline($base_font-size - 2, .75);
	color: $gray3;
	background-color: $grayd;
	letter-spacing: .03em;
	padding: #{relative($base_padding * 2)}rem;
	border-radius: #{relative($base_radii) * 2}rem;
	
	a {
		
		font-weight: bold;
		
		&,
		&:visited {
			color: $gray3;
			text-decoration: none;
		}
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $gray3;
			text-decoration: underline;
		}
		
	}
	
}

.callout-info {
	
	color: darken($ice, 60%);
	background-color: $ice;
	
	a {
		
		&,
		&:visited,
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active { color: darken($ice, 60%); }
		
	}
	
}

.callout-success {
	
	color: darken($frog, 60%);
	background-color: $frog;
	
	a {
		
		&,
		&:visited,
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active { color: darken($frog, 60%); }
		
	}
	
}

.callout-warning {
	
	color: darken($duck, 60%);
	background-color: $duck;
	
	a {
		
		&,
		&:visited,
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active { color: darken($duck, 60%); }
		
	}
	
}

.callout-error {
	
	color: darken($chili, 60%);
	background-color: $chili;
	
	a {
		
		&,
		&:visited,
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active { color: darken($chili, 60%); }
		
	}
	
}

%arrow {
	font-family: FontAwesome;
	line-height: 0;
	position: relative;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	//display: inline-block;
}

.pager {
	
	color: $gray8;
	width: auto;
	margin: {
		top: #{relative($base_margin)}rem;
		bottom: #{relative($base_margin)}rem;
	}
	padding: 0;
	display: inline-block;
	
	> {
		
		li {
			
			font-size: #{relative($base_font-size - 2)}rem;
			line-height: 1;
			margin: 0;
			padding: 0;
			display: inline-block;
			
			a,
			span {
				text-transform: uppercase;
				letter-spacing: .05em;
				white-space: nowrap;
				background: $grayd;
				width: 100%;
				height: 100%;
				padding: .5em 1em;
				display: block;
			}
			
			.pager-current {
				color: $milk;
				font-weight: bold;
				background: $gray3;
			}
			
			&:first-child {
				
				a,
				span { border-radius: #{relative($base_radii)}rem 0 0 #{relative($base_radii)}rem; }
				
				a::before {
					@extend %arrow;
					content: "\f177\00a0";
				}
				
			}
			
			&:last-child {
				
				a,
				span { border-radius: 0 #{relative($base_radii)}rem #{relative($base_radii)}rem 0; }
				
				a::after {
					@extend %arrow;
					content: "\00a0\f178";
				}
				
			}
			
			&:not(:first-child):not(:last-child) {
				
				@media (max-width: #{relative($base_breakpoint-max)}rem) {
					
					& { display: none; }
					
				}
				
			}
			
		}
		
	}
	
	a {
		
		&,
		&:visited { color: $gray6; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover {
			color: $gray3;
			text-decoration: none;
			background: $graye;
		}
		
	}
	
	// https://github.com/mhulse/picard/issues/133#issuecomment-31626386
	.fa {
		line-height: 0;
		position: relative;
	}
	
}

a.social {
	
	&,
	&:visited { color: $gray9; }
	&:visited:hover,
	&:focus,
	&:focus:hover,
	&:hover,
	&:active {
		color: darken($gray9, 20%);
		text-decoration: none;
	}
	
}

a.social-twitter {
	
	&,
	&:visited,
	&:visited:hover,
	&:focus,
	&:focus:hover,
	&:hover,
	&:active { color: #41b7d8; }
	
}

a.social-facebook {
	
	&,
	&:visited,
	&:visited:hover,
	&:focus,
	&:focus:hover,
	&:hover,
	&:active { color: #3b5997; }
	
}

a.social-google-plus {
	
	&,
	&:visited,
	&:visited:hover,
	&:focus,
	&:focus:hover,
	&:hover,
	&:active { color: #d64937; }
	
}

a.social-linkedin {
	
	&,
	&:visited,
	&:visited:hover,
	&:focus,
	&:focus:hover,
	&:hover,
	&:active { color: #0073b2; }
	
}

a.social-pinterest {
	
	&,
	&:visited,
	&:visited:hover,
	&:focus,
	&:focus:hover,
	&:hover,
	&:active { color: #cb2027; }
	
}

a.social-vk {
	
	&,
	&:visited,
	&:visited:hover,
	&:focus,
	&:focus:hover,
	&:hover,
	&:active { color: #54769b; }
	
}

a.social-xing {
	
	&,
	&:visited,
	&:visited:hover,
	&:focus,
	&:focus:hover,
	&:hover,
	&:active { color: #006567; }
	
}

a.social-tumblr {
	
	&,
	&:visited,
	&:visited:hover,
	&:focus,
	&:focus:hover,
	&:hover,
	&:active { color: #34465d; }
	
}

// Use now in place of <i>:
//#footer_menu li:nth-child(n+1):before { content: "/"; }
.boring {
	
	@include baseline($base_font-size - 1, .875);
	font-style: italic;
	letter-spacing: .03em;
	color: $gray6;
	
	&:first-line { color: $gray3; }
	
	a {
		
		&,
		&:visited { color: $dusk; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $dusk;
			font-style: underline;
		}
		
	}
	
	small {
		font-size: 1em;
		display: block;
	}
	
	@media (max-width: #{relative($base_breakpoint-max)}rem) {
		
		span { display: block; }
		span span { display: none; }
		
	}
	
}

.js #disqus { display: none; }

.silly:before {
	font-family: FontAwesome;
	font-size: inherit;
	font-style: normal;
	font-weight: normal;
	color: $bling;
	content: "\f069\00a0";
}
