iframe[id^='twitter-widget-'],
.twitter-timeline { width: 100%; }

.meta {
	
	@include rex_baseline($rex_base-font-size, .875);
	color: $gray6;
	font-style: italic;
	border: #{rex_relative(1)}rem solid $grayb;
	background: lighten($graye, 5%);
	border-radius: #{rex_relative($base_radii)}rem;
	
	a {
		
		font-weight: bold;
		
		&,
		&:visited { color: $gray6; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $raven;
			text-decoration: underline;
		}
		
	}
	
}

p.meta {
	padding: #{rex_baseline($rex_base-font-size, .375)}em #{rex_baseline($rex_base-font-size)}em;
	box-shadow: inset 0 0 #{rex_relative(10)}rem 0 rgba($raven, .2), 0 #{rex_relative(3)}rem rgba($raven, .1);
}

ul.meta > li,
p.meta {
	
	-webkit-transition: background-color 200ms linear;
	        transition: background-color 200ms linear;
	
	&:hover { background: $milk; }
	
}

.callout {
	
	color: $gray3;
	letter-spacing: .03em;
	
	a {
		
		font-weight: bold;
		
		&,
		&:visited {
			color: $gray3;
			text-decoration: none;
		}
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $gray3;
			text-decoration: underline;
		}
		
	}
	
	&.callout-box {
		
		@include rex_baseline($rex_base-font-size - 2, .75);
		background-color: $grayd;
		padding: #{rex_relative($base_padding * 2)}rem;
		border-radius: #{rex_relative($base_radii) * 2}rem;
		
		&.callout-info { background-color: $ice; }
		&.callout-success { background-color: $frog; }
		&.callout-warning { background-color: $duck; }
		&.callout-error { background-color: $chili; }
		
	}
	
	&.callout-info {
		
		color: darken($ice, 60%);
		
		a {
			
			&,
			&:visited,
			&:visited:hover,
			&:focus,
			&:focus:hover,
			&:hover,
			&:active { color: darken($ice, 60%); }
			
		}
		
	}
	
	&.callout-success {
		
		color: darken($frog, 60%);
		
		a {
			
			&,
			&:visited,
			&:visited:hover,
			&:focus,
			&:focus:hover,
			&:hover,
			&:active { color: darken($frog, 60%); }
			
		}
		
	}
	
	&.callout-warning {
		
		color: darken($duck, 60%);
		
		a {
			
			&,
			&:visited,
			&:visited:hover,
			&:focus,
			&:focus:hover,
			&:hover,
			&:active { color: darken($duck, 60%); }
			
		}
		
	}
	
	&.callout-error {
		
		color: darken($chili, 60%);
		
		a {
			
			&,
			&:visited,
			&:visited:hover,
			&:focus,
			&:focus:hover,
			&:hover,
			&:active { color: darken($chili, 60%); }
			
		}
		
	}
	
}

// Use now in place of <i>:
//#footer_menu li:nth-child(n+1):before { content: "/"; }
.boring {
	
	@include rex_baseline($rex_base-font-size - 1, .875);
	font-style: italic;
	letter-spacing: .03em;
	color: $gray6;
	
	&:first-line { color: $gray3; }
	
	a {
		
		&,
		&:visited { color: $dusk; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $dusk;
			font-style: underline;
		}
		
	}
	
	small {
		font-size: 1em;
		display: block;
	}
	
	@media (max-width: #{rex_relative($base_breakpoint-max)}rem) {
		
		span { display: block; }
		span span { display: none; }
		
	}
	
}

.js #disqus { display: none; }

.silly:before {
	font-family: FontAwesome;
	font-size: inherit;
	font-style: normal;
	font-weight: normal;
	color: $bling;
	content: "\f069\00a0";
}
