// Define a `max-width` and center an element.
//
// Usage:
//
// `.foo { @include max; }`

@mixin max($width: false) {
	
	@if $width {
		
		max-width: #{relative($width)}rem;
		margin-right: auto;
		margin-left: auto;
		display: block;
		
	}
	
}
