nav[role="navigation"] {
	
	ul {
		
		max-width: #{relative(350)}rem;
		padding: 0;
		
		li {
			
			text-transform: uppercase;
			list-style: none;
			display: inline-block;
			margin: #{relative(2)}rem;
			padding: 0;
			
			@include baseline(12);
			
			a {
				
				letter-spacing: .1em;
				background: $raven;
				padding: #{baseline(12, .25)}em #{relative(15)}em;
				display: block;
				border-radius: #{relative(3)}em;
				text-shadow: 0 #{relative(1)}em #{relative(1)}em $raven;
				white-space: nowrap;
				
				&,
				&:visited { color: $milk; }
				&:visited:hover,
				&:focus,
				&:focus:hover,
				&:hover,
				&:active {
					text-decoration: none;
					background: $lobster;
				}
				
				&:active,
				&:focus { outline: none; }
				
				-webkit-transition: background-color 75ms linear;
				   -moz-transition: background-color 75ms linear;
				    -ms-transition: background-color 75ms linear;
				     -o-transition: background-color 75ms linear;
				        transition: background-color 75ms linear;
				
			}
			
			&:before { content: none; }
			
		}
		
	}
	
}
