nav[role="navigation"] {
	
	ul {
		
		margin: {
			top: #{relative($base_margin)}rem;
			bottom: #{relative($base_margin)}rem;
		}
		padding: 0;
		
		li {
			
			list-style: none;
			display: inline-block;
			margin: #{relative(2)}rem;
			padding: 0;
			
		}
		
		a {
			
			@include baseline($base_font-size - 2);
			font-weight: normal;
			letter-spacing: .1em;
			text-transform: uppercase;
			background: $raven;
			padding: #{baseline($base_font-size - 2, .25)}em #{relative(15)}em;
			display: block;
			text-shadow: 0 #{relative(1)}rem #{relative(1)}rem $raven;
			white-space: nowrap;
			border-radius: #{relative($base_radii)}rem;
			
			&,
			&:visited { color: $milk; }
			&.selected,
			&:visited:hover,
			&:focus,
			&:focus:hover,
			&:hover,
			&:active {
				color: $milk;
				text-decoration: none;
				background: $lobster;
				box-shadow: inset 0 0 #{relative(5)}rem 0 darken($lobster, 20%);
			}
			&:focus,
			&:active { outline: none; }
			
		}
		
	}
	
}
