#search {
	
	input {
		
		&[type="search"] {
			
			@include baseline(16);
			border: #{relative(1)}rem solid $grayc;
			padding: #{baseline(16) / 4}em;
			background: $milk;
			-webkit-appearance: textfield;
			
			&::-webkit-search-decoration,
			&::-webkit-search-cancel-button,
			&::-webkit-search-results-button,
			&::-webkit-search-results-decoration { display: none; }
			
		}
		
	}
	
}
