.scroll-wrap { position: relative; }
.scroll-overlay {
	font-size: 1em;
	line-height: 1;
	letter-spacing: .1em;
	text-transform: lowercase;
	text-shadow: 0 #{relative(1)}rem #{relative(3)}rem $raven,
	             0 #{relative(1)}rem #{relative(3)}rem $raven,
	             0 #{relative(1)}rem #{relative(3)}rem $raven,
	             0 #{relative(1)}rem #{relative(3)}rem $raven;
	text-align: center;
	color: $milk;
	position: absolute;
	width: 100%;
	top: #{relative(10)}rem;
	left: 0;
	opacity: .5;
}
.scroll-overlay::before,
.scroll-overlay::after {
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
}
.scroll-overlay::before { content: "\f0a5\00a0"; }
.scroll-overlay::after { content: "\00a0\f0a4"; }
