.table
.body table {
	
	empty-cells: hide;
	
	margin: {
		top: #{relative($base_margin)}rem;
		right: #{relative($base_margin)}rem;
	}
	
	width: 100%;
	
	caption { text-align: left; }
	
	thead { vertical-align: bottom; }
	
	tfoot {
		
		vertical-align: top;
		
		th,
		td { color: $gray6; }
		
	}
	
	th,
	td {
		
		text-align: left;
		padding: {
			right: #{relative(10)}rem;
			left: #{relative(10)}rem;
		}
		
		&:first-child { padding-left: 0; }
		&:last-child { padding-right: 0; }
		
	}
	
	th { white-space: nowrap; }
	
	tbody { vertical-align: top; }
	
	&.table-border-x {
		
		thead th,
		tbody th,
		tbody td { border-bottom: #{relative(1)}rem solid $gray9; }
		
		/*
		& th:empty,
		& td:empty { border-bottom: 0; }
		*/
		
		tfoot th,
		tfoot td { border-top: #{relative(1)}rem solid $gray9; }
		
		tbody tr:last-child th,
		tbody tr:last-child td { border-bottom: 0; }
		
	}
	
	&.table-border-y {
		
		th,
		td {
			
			border: {
				right: #{relative(1)}rem solid $gray9;
				left: #{relative(1)}rem solid $gray9;
			}
			
		}
		
		th:first-child,
		td:first-child { border-left: 0; }
		
		th:last-child,
		td:last-child { border-right: 0; }
		
	}
	
}
