h1#flag {
	
	font-family: "Hulse", Arial, sans-serif;
	font-size: #{rex_relative(115)}rem;
	font-weight: normal;
	font-style: normal;
	line-height: #{rex_relative(115)}rem;
	text-transform: none;
	margin-bottom: #{rex_relative($base_margin * 5)}rem;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba($raven, 0);
	-webkit-tap-highlight-color: transparent;
	
	span {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	
	a {
		
		display: inline-block;
		
		&,
		&:visited { color: $smurf; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $dusk;
			text-decoration: none;
		}
		
		&:active,
		&:focus { outline: none; }
		
		-webkit-transition: color 250ms linear;
		        transition: color 250ms linear;
		
	}
	
	position: relative;
	&::before {
		font-family: FontAwesome;
		font-size: 1rem;
		font-style: normal;
		font-weight: normal;
		color: $bling;
		line-height: 1;
		margin-left: #{rex_relative(50)}rem;
		position: absolute;
		top: 0;
		left: 50%;
		content: "\f069";
	}
	
}

h1, h2, h3, h4, h5, h6 {
	
	text-transform: uppercase;
	
	a {
		
		&,
		&:visited { color: $hulk; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $goblin;
			text-decoration: none;
		}
		
	}
	
}

// Used for `title`-free sections.
//
// `<h1></h1> <!-- Testing `:empty` pseudo-class. -->`
//
// @see https://developer.mozilla.org/en-US/docs/Web/CSS/:empty
// @see http://camendesign.com/design/design.css

h1:empty { display: none; }

.sh1, .sh2, .sh3, .sh4, .sh5, .sh6 { text-transform: none; }

blockquote {
	
	@include rex_baseline(20);
	font-family: serif;
	font-style: italic;
	letter-spacing: .03em;
	color: $gray6;
	border-width: #{rex_relative(2)}rem 0;
	border-style: dashed;
	border-color: $grayd;
	margin: {
		top: #{rex_relative($base_margin) * 2}rem;
		bottom: #{rex_relative($base_margin) * 2}rem;
	}
	padding: #{rex_baseline(20)}em #{rex_baseline(20) * 2}em;
	position: relative;
	
	p {
		font-size: inherit;
		line-height: inherit;
	}
	
	footer {
		
		font-size: 70%;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: .05em;
		
		p { margin: 0; }
		
	}
	
	* { max-width: none; }
	
	blockquote { border-width: #{rex_relative(1)}rem 0; }
	
	a {
		
		&,
		&:visited { color: $dusk; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $smurf;
			text-decoration: none;
		}
		
	}
	
	@media (max-width: #{rex_relative($base_breakpoint-max)}rem) {
		
		& { padding: #{rex_baseline(20)}em; }
		
	}
	
}

mark {
	background: rgba($duck, .9);
	padding: #{rex_relative(1)}rem #{rex_relative(3)}rem;
	border-radius: #{rex_relative($base_radii)}rem;
}

del,
ins {
	line-height: 0;
	letter-spacing: .05em;
	padding: #{rex_relative(1)}rem #{rex_relative(3)}rem;
	position: relative;
	border-radius: #{rex_relative($base_radii) - 1}rem;
}
del {
	color: darken($chili, 50%);
	background: rgba($chili, .5);
}
ins {
	
	color: darken($frog, 50%);
	text-decoration: none;
	background: rgba($frog, .5);
	
	&::before { content: "["; }
	&::after { content: "]"; }
	
}

q {
	font-family: $serif;
	font-weight: bolder;
	font-style: italic;
}

abbr {
	
	font-style: italic;
	cursor: help;
	
	&[title] { border-bottom: #{rex_relative(1)}rem dotted; }
	
	&[title="et cetera"] { font-family: $etc; }
	
}

cite { font-style: italic; }

dfn {
	
	font-weight: bold;
	font-style: italic;
	
	&[title] {
		border-bottom: #{rex_relative(1)}rem dotted;
		cursor: help;
	}
	
}

wbr {
	
	&::after { content: "\00200B"; }
	
}

small,
.small { font-size: smaller; }

span {
	
	// The italic version of an ampersand is more decorative and interesting
	// than its roman counterpart.
	//
	// @see http://simplebits.com/notebook/2008/08/14/ampersands-2/
	// @see http://fluidbaselinegrid.com/css/style.css
	
	&.amp {
		font-size: 110%;
		font-family: $amp;
		font-weight: normal;
		font-style: italic;
		line-height: 0;
		vertical-align: baseline;
		position: relative;
	}
	
}

.marker {
	
	font-size: 1rem;
	font-weight: normal;
	text-transform: none;
	margin: {
		top: #{rex_relative($base_margin * 2)}rem;
		bottom: #{rex_relative($base_margin * 2)}rem;
	}
	padding: 0;
	
	div {
		display: inline-block;
		overflow: hidden;
	}
	
	a,
	span {
		@include rex_baseline($rex_base-font-size + 4, .875);
		letter-spacing: .03em;
		padding: #{rex_baseline($rex_base-font-size + 4, .875) * .75}em #{rex_relative($base_padding)}em;
		float: left;
	}
	
	span {
		color: darken($bling, 25%);
		background: darken($bling, 5%);
	}
	
	a {
		
		background: $bling;
		
		&,
		&:visited { color: darken($bling, 20%); }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: darken($bling, 20%);
			background: lighten($bling, 25%);
		}
		
	}
	
}

.subtle {
	@include rex_baseline($rex_base-font-size + 4, .75);
	font-weight: normal;
	font-family: $mono;
	color: darken($bling, 10%);
	letter-spacing: .1em;
	margin-top: #{rex_relative($base_margin)}rem;
	margin-bottom: #{rex_relative($base_margin)}rem;
}

.marker,
.subtle {
	
	code {
		font-size: inherit;
		color: inherit;
		text-shadow: none;
		background: transparent;
		border: 0;
		margin: 0;
		padding: 0;
		display: inline;
		box-shadow: none;
		border-radius: 0;
	}
	
}

.body {
	
	> {
		
		p {
			@include rex_baseline($rex_base-font-size + 3);
			// Using `em` keeps it on the baseline:
			margin: {
				top: #{rex_baseline($rex_base-font-size + 3)}em;
				bottom: #{rex_baseline($rex_base-font-size + 3)}em;
			}
		}
		
		:first-child { margin-top: 0 !important; }
		
		:last-child { margin-bottom: 0 !important; }
		
	}
	
	h1, h2, h3, h4, h5, h6 {
		
		color: $gray3;
		text-transform: none;
		
		a {
			
			&,
			&:visited { color: $bruise; }
			&:visited:hover,
			&:focus,
			&:focus:hover,
			&:hover,
			&:active {
				color: lighten($bruise, 20%);
				text-decoration: underline;
			}
			
		}
		
	}
	
}

.label,
%label {
	
	text-transform: uppercase;
	letter-spacing: .15em;
	margin: {
		top: #{rex_relative($base_margin)}rem;
		bottom: #{rex_relative($base_margin)}rem;
	}
	
	a,
	span {
		padding: {
			left: #{rex_relative($base_padding * 2)}em;
			right: #{rex_relative($base_padding * 2)}em;
		}
		display: inline-block;
	}
	
	span { color: $grayc; }
	
	a {
		
		&,
		&:visited { color: $gray8; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $gray3;
			text-decoration: none;
		}
		
		&:focus,
		&:active { outline: none; }
		
	}
	
}

.label {
	
	@include rex_baseline($rex_base-font-size - 1, .75);
	font-weight: bold;
	
	a,
	span {
		border-bottom: #{rex_relative(5)}rem solid $graye;
		padding: {
			top: #{rex_baseline($rex_base-font-size - 1, .25) / 2}em;
			bottom: #{rex_baseline($rex_base-font-size - 1, .25) / 2}em;
		}
	}
	
	a { border-color: $grayc; }
	
}

.pub {
	
	@extend %label;
	@include rex_baseline($rex_base-font-size - 2, .75);
	font-weight: normal;
	
	a,
	span {
		padding: {
			top: #{rex_baseline($rex_base-font-size - 2, .25) / 2}em;
			bottom: #{rex_baseline($rex_base-font-size - 2, .25) / 2}em;
		}
	}
	
}

.label + .pub {
	
	margin-top: -#{rex_relative($base_margin + 5)}rem;
	
	a,
	span { border-top: #{rex_relative(5)}rem solid $graye; }
	
	a { border-color: $grayc; }
	
}

.head {
	
	@include rex_baseline($rex_base-font-size + 2, .675);
	font-weight: bold;
	text-transform: none;
	color: mix($dusk, $milk, 65%);
	margin-bottom: #{rex_relative($base_margin)}rem;
	
	a {
		
		&,
		&:visited { color: $dusk; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $smurf;
			text-decoration: none;
		}
		
	}
	
}

// %more {
// 	font-family: FontAwesome;
// 	font-style: normal;
// 	font-weight: normal;
// 	text-decoration: inherit;
// 	color: $gray9;
// 	display: inline-block;
// }

// .more {
	
// 	font-size: smaller;
// 	line-height: normal;
	
// 	&::before {
// 		@extend %more;
// 		content: "\f141\00a0";
// 	}
// 	&::after {
// 		@extend %more;
// 		content: "\00a0\f141";
// 	}
	
// 	a {
		
// 		text-transform: lowercase;
// 		letter-spacing: .08em;
// 		text-transform: uppercase;
// 		font-weight: bold;
		
// 		&,
// 		&:visited { color: $lobster; }
// 		&:visited:hover,
// 		&:focus,
// 		&:focus:hover,
// 		&:hover,
// 		&:active {
// 			color: $juice;
// 			text-decoration: none;
// 		}
		
// 	}
	
// }

.external {
	
	font-size: 1rem;
	line-height: normal;
	text-transform: none;
	letter-spacing: .1em;
	
	a {
		
		@include rex_baseline($rex_base-font-size + 8);
		padding: #{rex_relative($base_padding * 1.5)}rem #{rex_relative($base_padding * 4)}rem;
		display: inline-block;
		position: relative;
		border-radius: #{rex_relative($base_radii)}rem;
		text-shadow: 0 #{rex_relative(1)}rem rgba(darken($hulk, 10%), .75);
		box-shadow: 0 #{rex_relative(3)}rem rgba(darken($goblin, 10%), .2);
		
		// http://lea.verou.me/2010/12/checkered-stripes-other-background-patterns-with-css3-gradients/
		background-color: $hulk;
		background-image:
			linear-gradient(
				45deg, rgba($milk, .075) 25%,
				transparent 25%,
				transparent 50%,
				rgba($milk, .075) 50%,
				rgba($milk, .075) 75%,
				transparent 75%,
				transparent
			);
		// Controls the size of the stripes:
		-webkit-background-size: 50px 50px;
		   -moz-background-size: 50px 50px;
		        background-size: 50px 50px;
		
		&,
		&:visited { color: $milk; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $milk;
			text-decoration: none;
			background-color: $goblin;
		}
		
		&::before {
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			font-size: smaller;
			text-decoration: none;
			content: "\f08e";
			color: $milk;
			position: absolute;
			top: #{rex_relative($base_padding * 1.5)}rem;
			right: #{rex_relative(($base_padding - 2) * 1.5)}rem; // https://github.com/mhulse/picard/issues/141
		}
		
	}
	
	time,
	span {
		font-weight: normal;
		line-height: 1.2;
		display: block;
	}
	
	time {
		font-size: 60%;
		letter-spacing: .15em;
		text-transform: uppercase;
		margin-bottom: .4em;
	}
	span {
		font-size: smaller;
		letter-spacing: .125em;
		margin-top: .3em;
	}
	
}

.more {
	
	//font-size: 1rem;
	//line-height: 1;
	margin: {
		top: 0;
		bottom: 0;
	}
	padding: 0;
	
	a.social {
		
		.fa-plus {
			color: $gray9;
			text-shadow: 0 #{rex_relative(2)}rem rgba($milk, .25);
			line-height: inherit;
		}
		
		&,
		&:visited { color: $grayd; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			
			color: $gray3;
			
			.fa-plus { color: $graye; }
			
		}
		
	}
	
}

.excerpt {
	margin: {
		top: .5rem;
		bottom: .25rem;
	}
}
