h1#flag {
	
	font: #{relative(115)}rem/#{relative(115)}rem "Hulse", Arial, sans-serif;
	margin-bottom: #{relative($base_margin * 5)}rem;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	
	span {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	
	a {
		
		display: inline-block;
		
		-webkit-animation: {
			duration: .3s;
			timing-function: ease-in-out;
			iteration-count: infinite;
		}
		-moz-animation: {
			duration: .3s;
			timing-function: ease-in-out;
			iteration-count: infinite;
		}
		-o-animation: {
			duration: .3s;
			timing-function: ease-in-out;
			iteration-count: infinite;
		}
		animation: {
			duration: .3s;
			timing-function: ease-in-out;
			iteration-count: infinite;
		}
		
		&,
		&:visited { color: $smurf; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $smurf;
			text-decoration: none;
		}
		
		&:hover {
			-webkit-animation-name: jittery;
			   -moz-animation-name: jittery;
			     -o-animation-name: jittery;
			        animation-name: jittery;
		}
		
		&:active,
		&:focus {
			outline: none;
			//-webkit-transform: scale3d(0.9, 0.9, 1);
		}
		
	}
	
}

h1, h2, h3, h4, h5, h6 {
	
	text-transform: uppercase;
	
	a {
		
		&,
		&:visited { color: $hulk; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $goblin;
			text-decoration: none;
		}
		
	}
	
}

// Used for `title`-free sections.
//
// `<h1></h1> <!-- Testing `:empty` pseudo-class. -->`
//
// @see https://developer.mozilla.org/en-US/docs/Web/CSS/:empty
// @see http://camendesign.com/design/design.css

h1:empty { display: none; }

.sh1, .sh2, .sh3, .sh4, .sh5, .sh6 { text-transform: none; }

blockquote {
	
	@include baseline(18, .875);
	
	font-family: serif;
	font-style: italic;
	
	color: $gray3;
	border-width: #{relative(2)}rem 0;
	border-style: dashed;
	border-color: $grayd;
	
	margin: {
		top: #{relative($base_margin)}rem;
		bottom: #{relative($base_margin)}rem;
	}
	padding: #{relative($base_padding)}rem #{relative($base_padding * 4)}rem;
	position: relative;
	
	p {
		font-size: inherit;
		line-height: inherit;
	}
	
	footer {
		
		font-size: 70%;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: .05em;
		
		p { margin: 0; }
		
	}
	
	blockquote { border-width: #{relative(1)}rem 0; }
	
	@media (max-width: #{relative(749)}rem) {
		
		& { padding: #{relative($base_padding)}rem; }
		
	}
	
}

mark {
	background: fade-out($duck, .1);
	padding: #{relative(1)}em #{relative(3)}em;
	-webkit-border-radius: #{relative(3)}em;
	        border-radius: #{relative(3)}em;
}

s {
	-webkit-text-decoration-color: fade-out($chili, .5);
	   -moz-text-decoration-color: fade-out($chili, .5);
	        text-decoration-color: fade-out($chili, .5);
}

del,
ins {
	line-height: 0;
	letter-spacing: .05em;
	border-radius: 2px;
	padding: 1px 3px;
	position: relative;
}
del {
	color: fade-out(darken($chili, 20%), .1);
	background: fade-out($chili, .9);
	-webkit-text-decoration-color: fade-out($chili, .5);
	   -moz-text-decoration-color: fade-out($chili, .5);
	        text-decoration-color: fade-out($chili, .5);
}
ins {
	color: $frog;
	text-decoration: none;
	&:before { content: "["; }
	&:after { content: "]"; }
}

q { font-family: $serif; }

abbr {
	
	font-style: italic;
	cursor: help;
	
	&[title] { border-bottom: 1px dotted; }
	
	&[title="et cetera"] { font-family: "Hoefler Text", Palatino, Constantia, "Palatino Linotype", cursive; }
	
}

cite { font-style: italic; }

dfn {
	
	font-weight: bold;
	font-style: italic;
	
	&[title] {
		border-bottom: 1px dotted;
		cursor: help;
	}
	
}

wbr {
	
	&:after { content: "\00200B"; }
	
}

small,
.small { font-size: smaller; }

span {
	
	// The italic version of an ampersand is more decorative and interesting
	// than its roman counterpart.
	//
	// @see http://simplebits.com/notebook/2008/08/14/ampersands-2/
	// @see http://fluidbaselinegrid.com/css/style.css
	
	&.amp {
		font-size: 110%;
		font-family: adobe-caslon-pro, Adobe Caslon Pro, Baskerville, "Goudy Old Style", Palatino, "Palatino Linotype", "Book Antiqua", Georgia, "Times New Roman", Times, serif;;
		font-weight: normal;
		font-style: italic;
		line-height: 0;
		vertical-align: baseline;
		position: relative;
	}
	
}

.category {
	
	@include baseline($base_font-size - 1, .75);
	font-family: $sans;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .03em;
	margin: {
		top: 0;
		bottom: 0;
	}
	padding: #{baseline(14, .25)}em 0;
	
	a {
		
		&,
		&:visited { color: $lobster; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $lobster;
			text-decoration: underline;
		}
		
	}
	
	
}
