h1, h2, h3, h4, h5, h6 {
	
	text-transform: uppercase;
	
	a {
		
		&,
		&:visited { color: $hulk; }
		&:visited:hover,
		&:focus,
		&:focus:hover,
		&:hover,
		&:active {
			color: $goblin;
			text-decoration: none;
		}
		
	}
	
}

.sh1, .sh2, .sh3, .sh4, .sh5, .sh6 { text-transform: none; }

blockquote {
	
	@include baseline(18, .875);
	
	font-family: serif;
	font-style: italic;
	
	color: $gray3;
	border-width: #{relative(2)}rem 0;
	border-style: dashed;
	border-color: $grayd;
	
	margin: #{relative($base_margin)}rem 0;
	padding: #{relative($base_padding)}rem #{relative($base_padding * 4)}rem;
	position: relative;
	
	p {
		font-size: inherit;
		line-height: inherit;
	}
	
	footer {
		
		font-size: 70%;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: .05em;
		
		p { margin: 0; }
		
	}
	
	blockquote { border-width: #{relative(1)}rem 0; }
	
	@media (max-width: $make-it-so) {
		
		& { padding: #{relative($base_padding)}rem; }
		
	}
	
}

mark {
	background: fade-out($duck, .1);
	padding: #{relative(1)}em #{relative(3)}em;
	-webkit-border-radius: #{relative(3)}em;
	        border-radius: #{relative(3)}em;
}

s {
	-webkit-text-decoration-color: fade-out($chili, .5);
	   -moz-text-decoration-color: fade-out($chili, .5);
	        text-decoration-color: fade-out($chili, .5);
}

del,
ins {
	line-height: 0;
	letter-spacing: .05em;
	border-radius: 2px;
	padding: 1px 3px;
	position: relative;
}
del {
	color: fade-out(darken($chili, 20%), .1);
	background: fade-out($chili, .9);
	-webkit-text-decoration-color: fade-out($chili, .5);
	   -moz-text-decoration-color: fade-out($chili, .5);
	        text-decoration-color: fade-out($chili, .5);
}
ins {
	color: $frog;
	text-decoration: none;
	&:before { content: "["; }
	&:after { content: "]"; }
}

q { font-family: $serif; }

//----------------------------------------------------------------------

.category {
	
	font-family: $serif;
	font-weight: normal;
	font-style: italic;
	text-transform: none;
	letter-spacing: .03em;
	word-spacing: .3em;
	border-bottom: 4px double $raven;
	margin: 0 0 10px;
	padding: 0 10px #{baseline(14, .25)}em;
	display: inline-block;
	
	@include baseline(14, .75);
	
}
