.fix {
	
	*zoom: 1;
	
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	
	&:after { clear: both; }
	
}

.gone {
	display: none !important;
	visibility: hidden;
}

.off {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.ghost { visibility: hidden; }

.force {
	margin: {
		top: -1px;
		bottom: -1px;
	}
	padding: 1px 0;
}

.nono { word-wrap: break-word; }

.none { max-width: none; }

// Simple solution for responsive tables.
//
// @see http://www.maxdesign.com.au/2013/03/22/simple-responsive-table/
// @see http://creativeandcode.com/simple-solution-for-responsive-tables/

.scroll {
	
	width: 100%;
	margin: {
		top: #{relative($base_margin)}rem;
		bottom: #{relative($base_margin)}rem;
	}
	overflow-y: auto;
	//-webkit-overflow-scrolling: touch;
	
	> * {
		margin-top: 0;
		margin-bottom: 0;
		max-width: none;
		max-height: none;
	}
	
}
