.marker {
  font: bold 1.57142857142857rem/1.59090909090909 Arial, sans-serif;
  font-weight: normal;
  color: #666666;
  text-transform: none;
  letter-spacing: .05em;
  background: rgba(0, 0, 0, 0.15);
  margin: 1.71428571428571rem 0;
  padding: 0.79545454545455em;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.subtle {
  font: normal 1.57142857142857rem/1.59090909090909 Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  color: #666666;
  letter-spacing: .08em;
  margin: 1.71428571428571rem 0;
}

.subtle *,
.marker * {
  text-shadow: none;
  line-height: inherit;
  color: inherit;
  font-size: 1em;
  background: transparent;
  margin: 0;
  padding: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.swatches {
  margin: 0.71428571428571rem 0;
  text-align: center;
}

.swatches .swatches-swatch {
  font-size: 1rem;
  line-height: 1.07142857142857;
  border: 0.07142857142857rem solid rgba(0, 0, 0, 0.1);
  margin: 0.35714285714286rem 0;
  padding: 0.53571428571429em;
}

.swatches code {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  text-shadow: 0 0.07142857142857em 0 rgba(0, 0, 0, 0.8);
  color: white;
  border: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.21428571428571em 0.35714285714286em;
}

.milk {
  background: white;
}

.bling {
  background: #ffd100;
}

.goblin {
  background: #9ea301;
}

.hulk {
  background: #4e801c;
}

.prius {
  background: #5e8da1;
}

.smurf {
  background: #13aac9;
}

.lobster {
  background: #cc3300;
}

.bruise {
  background: #490a3d;
}

.raven {
  background: black;
}

.graye {
  background: #eeeeee;
}

.grayd {
  background: #dddddd;
}

.grayc {
  background: #cccccc;
}

.grayb {
  background: #bbbbbb;
}

.graya {
  background: #aaaaaa;
}

.gray9 {
  background: #999999;
}

.gray8 {
  background: #888888;
}

.gray7 {
  background: #777777;
}

.gray6 {
  background: #666666;
}

.gray5 {
  background: #555555;
}

.gray4 {
  background: #444444;
}

.gray3 {
  background: #333333;
}

.gray2 {
  background: #222222;
}

.gray1 {
  background: #111111;
}

.duck {
  background: yellow;
}

.chili {
  background: red;
}

.frog {
  background: #009933;
}
