// Picard helpers:
@import "partials/variables";

// External helpers:
@import "partials/rex/functions",
        "partials/rex/mixins",
        "partials/rex/variables";

// `:xxx` = pseudo-class & `::xxx` = pseudo-element.
//
// @see http://reference.sitepoint.com/css/pseudoclasses
// @see http://reference.sitepoint.com/css/pseudoelements

.swatches {
	
	max-width: #{rex_relative(650)}rem;
	margin: #{rex_relative($base_margin)}rem auto;
	
	.swatches-swatch {
		@include rex_baseline(14, .75);
		border: #{rex_relative(1)}rem solid rgba($raven, .1);
		margin: #{rex_relative(5)}rem 0;
		padding: #{rex_baseline(14, .75) / 2}em;
	}
	
	code {
		text-shadow: 0 #{rex_relative(1)}rem 0 rgba($raven, .8);
		color: $milk;
		background: rgba($raven, .5);
		padding: #{rex_relative(3)}rem #{rex_relative(5)}rem;
		border: 0;
	}
	
	.milk    { background: $milk;    }
	.tongue  { background: $tongue;  }
	.lobster { background: $lobster; }
	.juice   { background: $juice;   }
	.bling   { background: $bling;   }
	.goblin  { background: $goblin;  }
	.hulk    { background: $hulk;    }
	.smurf   { background: $smurf;   }
	.dusk    { background: $dusk;    }
	.bruise  { background: $bruise;  }
	.raven   { background: $raven;   }
	.graye   { background: $graye;   }
	.grayd   { background: $grayd;   }
	.grayc   { background: $grayc;   }
	.grayb   { background: $grayb;   }
	.graya   { background: $graya;   }
	.gray9   { background: $gray9;   }
	.gray8   { background: $gray8;   }
	.gray7   { background: $gray7;   }
	.gray6   { background: $gray6;   }
	.gray5   { background: $gray5;   }
	.gray4   { background: $gray4;   }
	.gray3   { background: $gray3;   }
	.gray2   { background: $gray2;   }
	.gray1   { background: $gray1;   }
	.ice     { background: $ice;     }
	.frog    { background: $frog;    }
	.duck    { background: $duck;    }
	.chili   { background: $chili;   }
	
}
