// Picard helpers:
@import "partials/variables",
        "partials/mixins";

// External helpers:
@import "partials/rex/functions",
        "partials/rex/mixins",
        "partials/rex/variables";

.marker {
	
	@include baseline($base_font-size + 4, .875, $optional: bold, $family: $sans);
	
	font-weight: normal;
	color: darken($bling, 20%);
	text-transform: none;
	letter-spacing: .03em;
	background: $bling;
	margin: #{relative($base_margin * 2)}rem 0;
	padding: #{baseline($base_font-size + 4, .875) / 2}em;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	
}

.subtle {
	
	@include baseline(16, .75, $optional: normal, $family: $mono);
	
	color: darken($bling, 10%);
	letter-spacing: .1em;
	margin-top: #{relative($base_margin)}rem;
	margin-bottom: #{relative($base_margin)}rem;
	
}

// `:xxx` = pseudo-class & `::xxx` = pseudo-element.
//
// @see http://reference.sitepoint.com/css/pseudoclasses
// @see http://reference.sitepoint.com/css/pseudoelements

.swatches {
	
	max-width: #{relative(650)}rem;
	margin-right: auto;
	margin-left: auto;
	
	.swatches-swatch {
		
		@include baseline(14, .75);
		
		border: #{relative(1)}rem solid fade-out($raven, .9);
		margin: #{relative(5)}rem 0;
		padding: #{baseline(14, .75) / 2}em;
		
	}
	
	code {
		text-shadow: 0 #{relative(1)}em 0 fade-out($raven, .2);
		color: $milk;
		background: fade-out($raven, .5);
		padding: #{relative(3)}em #{relative(5)}em;
	}
	
}

.milk    { background: $milk;    }
.bling   { background: $bling;   }
.goblin  { background: $goblin;  }
.hulk    { background: $hulk;    }
.prius   { background: $prius;   }
.smurf   { background: $smurf;   }
.lobster { background: $lobster; }
.bruise  { background: $bruise;  }
.raven   { background: $raven;   }
.graye   { background: $graye;   }
.grayd   { background: $grayd;   }
.grayc   { background: $grayc;   }
.grayb   { background: $grayb;   }
.graya   { background: $graya;   }
.gray9   { background: $gray9;   }
.gray8   { background: $gray8;   }
.gray7   { background: $gray7;   }
.gray6   { background: $gray6;   }
.gray5   { background: $gray5;   }
.gray4   { background: $gray4;   }
.gray3   { background: $gray3;   }
.gray2   { background: $gray2;   }
.gray1   { background: $gray1;   }
.duck    { background: $duck;    }
.chili   { background: $chili;   }
.frog    { background: $frog;    }
